[2017-10-09 18:16] cemerick opened #1 "Migration out of Clojure Contrib"
As discussed on the [Clojure google group](https://groups.google.com/d/msg/clojure/6SX7q39lK90/E9RsccByAwAJ), maintenance of nREPL is moving out of the Clojure Contrib umbrella. To restate the rationale from that thread:

<blockquote>

1. nREPL is an essential bit of infrastructure in Clojure tooling
2. On balance, I have neglected the project in recent years, to the detriment of all of the users

[2017-10-09 18:52] cemerick opened #2 "Licensing your nREPL contributions under EPL"
For background, please see #1.

Your contributions to nREPL over the years are greatly appreciated. To better serve all of the users of nREPL, and to simplify things for those that are most impacted by the project, I am pulling development here (where the project began some 8 years ago).

Note that the license is _not_ changing from EPL, the license that has always governed nREPL contributions. Ho

[2017-10-09 18:53] cemerick commented on #2
OK

[2017-10-09 19:02] bbatsov commented on #2
OK

[2017-10-09 19:02] seancorfield commented on #2
I’m shocked to hear that I had a “material commit” to that repo but, yes, I’m perfectly happy to have whatever contribution I made to tools.nrepl licensed under the vanilla EPL.

Sean Corfield -- (970) FOR-SEAN -- (904) 302-SEAN
An Architect's View -- http://corfield.org/

"If you're not annoying somebody, you're not really alive."
-- Margaret Atwood

From: Chas Emerick<mailto:notifications@github

[2017-10-09 19:04] jeffvalk commented on #2
OK

[2017-10-09 19:06] trptcolin commented on #2
OK

[2017-10-09 19:12] lprefontaine commented on #2
OK

Sent from my iPad

[2017-10-09 19:12] duelinmarkers commented on #2
OK

[2017-10-09 19:15] andrewhr commented on #2
OK

[2017-10-09 20:03] jafingerhut commented on #2
OK

On Mon, Oct 9, 2017 at 11:52 AM, Chas Emerick <notifications@github.com>
wrote:

[2017-10-09 20:51] gfredericks commented on #2
OK

Gary Fredericks
(803)-295-0195
fredericksgary@gmail.com
gfredericks.com

On Mon, Oct 9, 2017 at 1:52 PM, Chas Emerick <notifications@github.com>
wrote:

[2017-10-09 22:03] brandonbloom commented on #2
OK

[2017-10-09 23:21] ato commented on #2
OK

[2017-10-10 00:22] cemerick commented on #2
@seancorfield oh, you didn't need to edit. It was good! :-D

[2017-10-10 03:25] kotarak commented on #2
OK

[2017-10-10 23:47] misfo commented on #2
OK

[2017-10-12 21:26] hugoduncan commented on #2
OK

[2017-10-16 20:02] cichli commented on #2
OK

[2017-10-16 20:18] cemerick commented on #2
We now have unanimous consent on this issue from all tools.nrepl contributors. Thank you very much to everyone for taking the time to consider this. I'll close and lock this now, so as to keep your notifications as clean as possible; further action will happen over on #1 and related issues. 💯

[2017-10-16 20:18] #2 closed

[2017-11-06 11:00] cemerick opened #3 "SafeFn is not used anywhere"
…and was probably poorly-conceived in the first place. Remove.

[2017-11-06 11:51] cemerick commented on #3
Derp, was looking at old history, that's been gone forever.

[2017-11-06 11:51] #3 closed

[2017-11-06 17:35] cemerick opened #4 "Namespace migration"
As a consequence of #1, it seems necessary to eventually move nREPL out of the `clojure.tools.nrepl.*` namespaces associated with Clojure Contrib. After all, [tools.nrepl](https://github.com/clojure/tools.nrepl) may yet be maintained separately from this effort, and no one benefits from same-named namespaces floating around in multiple artifacts.

I see two options:

1. Cut over to `cemerick.nrepl

[2017-11-06 17:37] cemerick commented on #4
Let me know what you think, @technomancy, @bbatsov, @trptcolin, @cursive-ide?

[2017-11-06 20:47] cemerick opened #5 "Triage/fix all "legacy" issues from tools.nrepl"
There are a number of issues reported in the [tools.nrepl JIRA](https://dev.clojure.org/jira/browse/NREPL) that have languished.

Triage them, create new issues for each, and fix here (clean-room impls of any fixes, no patch/diff files from the JIRA to be used!).

This will form the basis of a `1.0.0` release.

[2017-11-06 20:54] cemerick opened #6 "Adopt default port"
7888 is "free", at least in IANA.

Most users want to put an nREPL port on their app, and that should always be on a typical port. Auto-selection of a port is only desirable in tooling scenarios, and tooling authors can pass an argument to start-server.

This will change the behaviour of (start-server).

(from https://dev.clojure.org/jira/browse/NREPL-3)

[2017-11-06 20:55] cemerick opened #7 "Allow clients to specify an ID for newly-retained sessions"
...particularly important where less sophisticated clients and polling-oriented transports are involved (e.g. HTTP).

(from https://dev.clojure.org/jira/browse/NREPL-15)

[2017-11-06 20:58] cemerick opened #8 "Too many DynamicClassLoaders created"
Not sure whether this ticket belongs here or in the Clojure-proper JIRA, so feel free to close if this is an inappropriate location. clojure.main/repl creates a new DynamicClassLoader on every execution, so it looks like the stack of classloaders grows without bounds. Seems a bit similar to http://dev.clojure.org/jira/browse/NREPL-31 in that clojure.main/repl has another assumption about when cloj

[2017-11-06 20:58] cemerick commented on #8
Yes, this should be fixed upstream; a new DynamicClassLoader should only be set as the thread-context classloader if one is not already in place.

My first impulse upon seeing this was that this was "last straw" territory w.r.t. using clojure.main/repl (as recorded in the thread linked above), but the work necessary to stop depending upon it would be considerable (not because repl does much, but b

[2017-11-06 21:00] cemerick opened #9 "Expose JMX MBean to provide list of available nREPL endpoints"
In a development environment, one often has many nREPL servers running, sometimes more than one per project. This means that it's sometimes difficult to keep track of which ports are associated with which projects / processes, and existing per-project REPL tracking mechanisms (e.g. Leiningen/reply's repl-port file) are generally not up the job.

It would be great if nREPL exposed a JMX MBean that

[2017-11-06 21:01] cemerick opened #10 "*1/*2/*3/*e nil in cloned session"
(from https://dev.clojure.org/jira/browse/NREPL-48)

[2017-11-06 21:03] cemerick opened #11 "No version of nrepl when connect to the lein-droid REPL"
1. Connect Android device.
2. Start REPL.
lein droid run.
3. Forward port.
lein do droid forward-port, droid repl.
4. Send command {'op': 'describe', 'verbose?': 1}

Result:
...
'versions': { 'clojure': { 'incremental': 0, 'major': 1, 'minor': 6, 'qualifier': 'RC1'},
'nrepl': { }}}

(from https://dev.clojure.org/jira/browse/NREPL-54)

[2017-11-06 21:04] cemerick commented on #11
We should put the version number in a resource-filtered source file instead of a .txt file pulled at runtime: https://github.com/clojure-android/lein-droid/issues/92

[2017-11-06 21:05] cemerick opened #12 "Support custom value rendering middleware"
Currently, nREPL's interruptible-eval middleware hardcodes a dependency on pr-values. It would be nicer if the user could either specify alternate rendering middleware or if nREPL's built-in middleware accepted an arbitrary function to render values with. Specifically, this would enable pretty-printing REPL output.

I've set up a middleware to demonstrate this, in combination with the Puget printi

[2017-11-06 21:07] cemerick opened #13 "Interrupt of load-file generates java.lang.ThreadDeath exception"
At lein prompt (load-file "src/test/core.clj") where core.clj contains (Thread/sleep 10000) then C-c to interrupt.

[code]

In CIDER, eval the buffer with C-c C-k which uses load-file op and then C-c C-b to interrupt. The relevant CIDER issue is [here](https://github.com/clojure-emacs/cider/issues/869).

(from https://dev.clojure.org/jira/browse/NREPL-69)

[2017-11-06 21:07] cemerick opened #14 "Drop support for ~ancient Clojure/JVM versions"

[2017-11-06 21:08] cemerick opened #15 "Some messages to an nREPL server never result in a response that includes status :done"
According to the documentation:

"Once a handler has completely processed a message, a response
containing a `:status` of `:done` must be sent."

I am assuming this includes messages that have resulted in an error. Some messages to an nREPL server never respond with such a status possibly leaving some clients waiting for follow up messages forever.

So far I have found two instances of this proble

[2017-11-06 21:10] cemerick opened #16 "Thread used to evaluate forms changes over time"
See this thread for reference: https://groups.google.com/forum/#!topic/clojure/UfTQvYNf1-s

When a session is left idle for a little bit of time, the thread id evaluating forms changes. This causes any thread local variables in use to reset to their initial values. This causes strange behavior when doing interactive programming that involves use of thread locals.

The solution is for the same thre

[2017-11-06 21:11] cemerick opened #17 "Transport/send hangs when sending non-bencodable information outside of :value slot"
Situation: Writing a CIDER middleware, trying to `transport/send` a response message via the standard bencode transport. The response message has a non-bencodable item outside of the :value slot.

Expected behavior: `transport/send` will bubble up the IllegalArgumentException thrown in c.t.n.bencode/write-bencode due to the non-bencodable item.

Actual behavior: `transport/send` silently fails and

[2017-11-06 21:13] cemerick opened #18 "Log "foo" for (misc/log "foo"), not nil"
Previously (log "foo") would just convert any first argument that wasn't a Throwable to nil, whereas clojure.tools.logging/log would log "foo".

(from https://dev.clojure.org/jira/browse/NREPL-84)

[2017-11-06 21:16] cemerick opened #19 "Add initial authentication support and simple default"
The first of these two patches adds authentication to the server, and
the second trivially adjusts the message function to use it (as an
example).

I could easily imagine the current approach might not be acceptable,
but I'd be happy to try to make adjustments.

If this turns out to be interesting, then presumably tools like
leiningen and cider might want to provide more interesting strategies
via

[2017-11-07 12:08] cemerick opened #20 "Error: SocketException: Protocol family unavailable"
The description in NREPL-83 suggests "start-server" will try "::" first and then fall back to "localhost". However, running in Alpine Linux, the attempt to bind "::" throws an exception and the fallback to "localhost" never occurs.

AFAIK, Alpine is different in more ways than one... ipv6 disabled by default, and also musl-libc has its own resolver, so multiple factors could be adding up here. The

[2017-11-07 12:10] cemerick commented on #20
I ran into this in the process of setting up travis-ci; within its environments, ipv6 `::` is resolved, but cannot be bound. Fixed by https://github.com/cemerick/nREPL/commit/36c77ddb03f2499f8b95701148a73d6d809b081d.

Note that this is the sole difference between the forthcoming `0.3.0` release and `[org.clojure/tools.nrepl "0.2.13"]`.

[2017-11-07 12:10] #20 closed

[2017-11-07 22:43] cursive-ide commented on #4
I think that option 1 should be fine as long as the wire protocol hasn't changed. That means that the client and server can be upgraded independently, and I don't really see much benefit to keeping them around if the new namespaces are equivalent and it's just a matter of renaming them.

It's been a while, but I don't think there's anything like namespaced keywords or anything else where the nREPL

[2017-11-07 23:54] trptcolin commented on #4
Agreed on option 1.

At first I was thinking the only issues I’d foresee w/ option 1 would be if anybody’s got themselves into a non-repeatable situation w/ version ranges or something like that? But this would be a brand new group/artifact pair anyway, so I don’t see any risk of breakage. And even if it wasn’t, there’s less risk than elsewhere because nrepl is pretty high-level and we’re unlikely

[2017-11-08 02:20] cemerick commented on #4
@cursive-ide No, there's no namespaced keywords in use that I'm aware of.

@trptcolin My sole motivation re: option (2) is to make the transition as painless as possible. A quick `sed` is about as easy as it gets I guess, so maybe I'm agonizing too much. :-P You're right that middleware authors are going to be most hard-hit.

[2017-11-08 02:39] trptcolin commented on #4
@cemerick: well, middleware users are the real interesting piece, i’d think, since they’ll now have to ensure compatibility among N middlewares. Unfortunately i’m not a middleware user so I can’t give much of an informed opinion here.

[2017-11-08 02:42] cemerick commented on #4
Users only ever need to e.g. drop a middleware's var name into their project.clj; it's the authors that might be using org.clojure.*-namespaced vars in their middleware descriptors. Or am I missing something?

[2017-11-08 03:17] trptcolin commented on #4
I’m sure @bbatsov has a clearer picture, but i’m talking about dependency versions: if as an end user I have in my profiles.clj (or wherever) e.g.

[code]

Then I need to ensure those all line up and are compatible w/ my nrepl variant, including any bumps to lein/boot version.

[2017-11-08 08:44] bbatsov commented on #4
That's what I'd advise to do. For me updating our namespaces is going to be trivial. I think the middleware surrounding CIDER + piggieback is probably the bulk of the 3rd party middleware out there and as we have complete control over them the actual migration can happen very fast.

[2017-11-10 11:56] cemerick commented on #4
Well, I guess we have consensus, then.

The plan then: `0.3.0` will contain the `clojure.tools.*` namespaces as previously discussed on the ML, etc. I think providing a checkpoint release that matches the last tools.nrepl release is important.

The next release (`0.4.0`, I guess) will switch over namespaces, without any compatibility shims.

Thanks for the feedback 😄

[2017-11-27 22:10] bbatsov commented on #4
All of this makes perfect sense to me! 👍

[2017-12-07 22:48] bbatsov commented on #1
Do you have any timeline in mind for that pivotal moment? :-)

[2017-12-07 22:50] bbatsov commented on #14
So, I'm presuming we should target Clojure 1.7 and Java 7+?

[2017-12-09 10:07] bbatsov commented on #20
👍  This was also plaguing `cider-nrepl`'s build for a while.

[2018-02-06 18:22] xiongtx commented on #1
Anything in particular this is waiting for?

[2018-04-23 15:32] bbatsov opened #21 "Consider transfering the repo"
Hey Chas!

I don't mean to be pushy or something, but I was really looking forward to nREPL 0.3 (and mostly to what would follow afterwards). I also see you probably didn't have time for nREPL 0.3 recently. Would be open to just transferring the repo to `clojure-emacs` so we can maintain it there, as we did with piggieback? I think it'd be in the project's best interest if we have more people shar

[2018-05-10 18:04] cemerick commented on #21
It is done, as you can see. You are right that I'm very involved elsewhere. Thanks to everyone for picking up where I left off. ❤️

[2018-05-10 18:04] #21 closed

[2018-05-11 09:49] dotemacs commented on #18
Low hanging fruit, or at least it appears as such: the patch for this exists. The user agreement was signed, but I guess that is no longer relevant as nREPL is now here, on GitHub.

The original author of the patch is: Rob Browning, GitHub username @rlbdv?
Can this be applied by Rob or ... ?

[2018-05-11 21:46] bbatsov commented on #1
@xiongtx Not anymore. Time to make this happen!

[2018-05-12 06:49] bbatsov commented on #12
@greglook Would you be interested in contributing this upstream?

Now we're back in the business of accepting PRs! 🎉

[2018-05-12 07:26] arrdem commented on #12
Hummmm this could also drastically simplify the implementation of content-type handlers...

[2018-05-16 07:56] dotemacs commented on #18
With the merge of #23 this can be closed.

The function mentioned here has been redone, so this issue is no longer relevant.

[2018-05-16 09:12] #1 closed

[2018-05-17 21:05] dotemacs commented on #6
How should this be handled?

Here:
https://github.com/nrepl/nREPL/blob/master/src/clojure/clojure/tools/nrepl/cmdline.clj#L70

and here:
https://github.com/clojure-emacs/nREPL/blob/master/src/clojure/clojure/tools/nrepl/server.clj#L140

`start-server` is started with the port **0**, the first available port.

Should it now start with port **7888** by default and if that port isn't free, then fall

[2018-05-18 03:35] arrdem commented on #6
What does having a /default/ port buy us or nREPL as a library? Many Clojure tools benefit from NOT having a standard port they expect to bind, and consequently one is able to have many nREPLs on or port forwarded to one machine fairly easily.

[2018-05-18 05:10] bbatsov commented on #6
@arrdem Did you see what Chas had written?

Seems the point of this to have a default port when running an embedded nREPL server only.

[2018-05-18 15:16] bbatsov commented on #15
Fixed by #25.

[2018-05-18 15:16] #15 closed

[2018-05-18 15:19] bbatsov commented on #14
In practical terms this means updating the codebase to leverage all the useful functionality introduced after Clojure 1.2 and removing code related to Java 5 and Java 6. Generally I wonder if we should aim to support Java 7 and Clojure 1.7 as well - the State of Clojure Survey last year showed that almost no one is using those anyways.

[2018-05-19 01:46] ajoberstar opened #26 "0.3.0 java classes are incompatible with Java 8 and 9"
Using nREPL in Java 8, I get the following error. It appears the Java classes in 0.3.0 were compiled for Java 10. Is this intentional or should it still be compatible with 8?

[code]

[2018-05-19 13:44] bbatsov commented on #26
@ajoberstar Hmm, seems that's an oversight of mine. I'll have to check the lein settings, as I assumed the default was something less aggressive.

[2018-05-19 13:53] #26 closed

[2018-05-19 14:19] bbatsov commented on #26
Check out 0.3.1. I've rebuild it for Java 8.

[2018-05-19 14:27] ajoberstar commented on #26
Good to go. Thanks for the quick fix!

[2018-05-19 16:49] arrdem commented on #6
@bbatsov Ah. That makes sense as a minor convenience.

https://tools.ietf.org/html/rfc6335#section-8 seems relevant

[2018-05-19 18:14] bbatsov opened #28 "Add the missing namespace to :namespace-not-found error messages"
Basically if we try to evaluate something in a non-existing ns we should echo back this ns to the client.

See https://github.com/clojure-emacs/cider/issues/1980#issuecomment-299544907 for a detailed conversation on the subject.

[2018-05-20 17:10] bbatsov opened #29 "Figure out why some nREPL responses don't have a request id attached to them"
See https://github.com/clojure-emacs/cider/issues/2138

Seems that happens rather rarely, but it's frustrating as to work around this clients have to map responses not only to request ids, but also message types, so they can do some meaningful processing of those rogue messages.

[2018-05-20 17:48] bbatsov opened #30 "Create a simple logo for the project (and this org)"
The GitHub org is looking a bit pale without a logo. :-) It'd be nice if the project had some basic logo, but I'll need some help with that, as I'm a complete zero in the design department. :-)

[2018-05-20 17:50] bbatsov opened #31 "Setup some basic home page using GH pages"
@arrdem Recently bought nrepl.org and I guess we should host a simple GH page there (at least initially). The easiest thing we can do is just upload the readme as a homepage via the GH admin UI. I guess this will only require a bit of config on the DNS side.

[2018-05-21 00:05] andrerichards commented on #30
I threw this together.

<img width="437" alt="nrepl" src="https://user-images.githubusercontent.com/1530731/40285353-e3805662-5c92-11e8-8f75-f57b9d21adc3.png">

[2018-05-21 00:13] andrerichards commented on #30
Here is one that is same width & height

<img width="440" alt="nrepl" src="https://user-images.githubusercontent.com/1530731/40285470-275f4ff4-5c94-11e8-9e90-bfb59c264965.png">

[2018-05-21 07:05] bbatsov commented on #30
Thanks! Just a bit of feedback from me:

* What's the meaning behind the design? :-)
* How is this going to look as a favicon? That's something I really like about the CIDER logo - the mug-like element there is the natural favicon. Perhaps we can style some of the letters in nREPL somehow? E.g. the E could look like a "server" somehow.
* I wonder if we can't put some REPL reference in there like `

[2018-05-21 20:35] #4 closed

[2018-05-22 06:13] #11 closed

[2018-05-24 05:07] greglook commented on #12
Might be able to look at this in a few days; it'd certainly be nice to ditch the metadata wrangling.

[2018-05-24 05:26] bbatsov commented on #12
@greglook Certainly! 👍

[2018-05-28 12:59] martinklepsch commented on #30
Throwing in a few ideas:

<img width="599" alt="screen shot 2018-05-28 at 14 57 12" src="https://user-images.githubusercontent.com/97496/40615565-90e0cec8-6287-11e8-9a56-87b2e30a2c67.png">

<img width="411" alt="screen shot 2018-05-28 at 14 57 42" src="https://user-images.githubusercontent.com/97496/40615568-93dad650-6287-11e8-8c4e-54f7542e3c92.png">

<img width="466" alt="screen shot 2018-05-28 a

[2018-05-28 13:54] bbatsov commented on #30
@martinklepsch Nice!

I like the second and the third the best, as I can imagine how they can also be used for icons (for instance). What is the second shape in the 3rd logo supposed to mean? I assume that's the loop, but It blends a bit with the background now and someone might think it's something related to the N letter.

[2018-05-28 14:02] martinklepsch commented on #30
It's the loop yeah, could be made more explicit. A still fairly subtle variant:

<img width="399" alt="screen shot 2018-05-28 at 16 01 50" src="https://user-images.githubusercontent.com/97496/40618047-8703a318-6290-11e8-942c-0e8364d08a16.png">

[2018-05-28 14:07] martinklepsch commented on #30
FWIW I really liked the protocol idea from the first suggestion but am also not convinced about the current look. If you have ideas for that, let me know :)

[2018-05-28 15:39] bbatsov commented on #30
Yeah, that's better. The protocol idea is cool, but I simply don't see how this can be converted to the square version of a logo you need for things like icons. (and perhaps there should be some parens around it as a nod to Lisp). :-)

[2018-05-29 03:26] arichiardi opened #32 "Factor out bencode parsing code"
The namespace https://github.com/nrepl/nREPL/blob/master/src/clojure/nrepl/bencode.clj is a good candidate for a Clojure/ClojureScript bencode library that if done right could make it easy to develop a ClojureScript version of an nRepl server.

It is pretty nice that we have this there actually.

[2018-05-29 23:57] bbatsov commented on #32
Yeah, I agree completely. When I have some time I'll factor this out to another lib here under `nrepl/bencode`.

[2018-06-03 18:53] Reefersleep opened #33 "*print-namespace-maps* is always true"
## Expected behavior, actual behavior and steps to reproduce the problem

Evaluating a map with namespaced keys like
`{:person/name "Fred" :person/age 50}`
in the cider repl prints the following return value
`#:person{:name "Fred", :age 50}`
This is due to `*print-namespace-maps*` defaulting to `true`.
Normally, it should be possible to change the value of this var permanently with `set!` thusly:

[2018-06-05 03:54] arrdem commented on #33
The root cause here is almost certainly that middlewares are NOT executed using the same dynamic var / session bindings as user request code. This also dovetails into larger considerations of how using middlewares to render results given the current architecture isn't really disciplined or composable and may be worth revisiting.

[2018-06-06 04:17] arichiardi commented on #32
On the same theme, props to @PEZ for the work in the Calva plugin: https://github.com/BetterThanTomorrow/calva/blob/master/src/main/calva/repl/nrepl.cljs

A ClojureScript client there, neat!

[2018-06-06 08:45] PEZ commented on #32
That’s mostly the work of @pedrorgirardi, but thanks for the recognition!

We are struggling with finding/building a stable foundation for our nrepl communication, and are following initiatives like this with interest. Might there come out a cljc bencode library out of this refactoring?

[2018-06-06 08:46] bbatsov commented on #32
@PEZ That's the idea.

[2018-06-06 09:05] bbatsov commented on #32
I quickly put together a new project, so @arichiardi (or someone else) can start hacking on it. I'll add some docs later.

[2018-06-06 11:03] pedrorgirardi commented on #32
Thank you @bbatsov ! I did a little bit of work with nREPL on Calva with @PEZ , so I'm interested in that.

We've been working on a new version of Calva written in ClojureScript, and it would be so nice to have a nREPL client in ClojureScript for Node.js.
There's not much that Calva can do without nREPL/CIDER and we're not that happy with the current nREPL + bencode implementation.

I would be ver

[2018-06-06 11:53] dchelimsky commented on #33
As @Reefersleep points out:

[code]

However, `pprint` seems to work differently.

[code]

Note that `*print-namespace-maps*` still evals to `false`, but the map is printed without the namespace map format!

[2018-06-06 15:07] arichiardi commented on #32
Also interested in this for eventually including it lumo. So cljc sounds very good to me :)

[2018-06-07 20:15] arrdem commented on #33
@Dirklectisch right - that's precisely the behavior I'm referring to.

In the first case, the expression `[*print-namespace-maps* {:person/name "Fred" :person/age 50}]` is evaluated in the context of `[*print-namespace-maps* false]`. It's just data, so the resulting value is returned as the result of the nREPL interruptible eval operation. The interruptible eval op pops and saves dynamic var bindi

[2018-06-09 09:47] bbatsov commented on #32
@pedrorgirardi Happy to help with the guidance. Let me know when you want to start on this, so I can create some repo for you in the nREPL org. I guess that a node client would something useful for many people.

[2018-06-11 20:34] andrerichards commented on #30
Basically just a continuous loop

I wonder if we can't put some REPL reference in there like > nREPL

I'm afraid I'm not really a designer, just downloaded some free software and threw together something. If you want specific designs like E that looks like server, I'm not the right person :-)

I'm glad you received some other options as well.

[2018-06-16 08:08] bbatsov commented on #32
That's fine. Happy to hear things are working out well for you!

Btw, what exactly is the purpose the intermediary server plays for you? Just message translation or something more?

[2018-06-18 04:57] pedrorgirardi commented on #32
The server started as a proxy to nREPL because I didn't want to spend time (at least for now) working on a nREPL client for ClojureScript. I wanted to experiment more with nREPL + CIDER middlware without having to worry about the infrastructure too much.

The project is really an experiment, so I looked at https://github.com/snoe/clojure-lsp too. Clojure LSP is very alpha, but it already has thing

[2018-06-18 05:16] arichiardi commented on #32
@pedrorgirardi that is very cool indeed and I think you are on the right track when you say: Orchard is the implementation, "whatever" is the protocol.

Here the whatever can be bencode + nRepl message payloads or lsp. I have been thinking a lot of having lsp as it has very good integration with editors - nRepl as a protocol was born and adopted at the time where lsp was not around.

But here come

[2018-06-18 05:39] bbatsov commented on #32
Yeah, that's a reasonable idea.

You it really be hard, though? You just translate the messages and the responses and you're done. The big advantage nREPL has over the socket REPL is that the protocol is structured similarly to the LSP spec as well (it's basically a RCP protocol with extensible ops), when the socket REPL gives you just evaluation and output handling, so you have to come up with so

[2018-06-18 05:43] bbatsov commented on #32
That's cool idea, indeed! I'm also wonder if we can't just add some LSP interface straight to nREPL (e.g. a different transport). Anyways, there are always some cool things we can do, but who has the time for all of them? :-)

[2018-06-18 05:52] bbatsov commented on #32
And to wrap it up - here are a few references to what I thinking about in the previous comment https://github.com/nrepl/nREPL#transports and https://github.com/nrepl/nrepl/wiki/Extensions After thinking a bit about this I really believe that a nice LSP transport adapter for nREPL might be an interesting way to provide easily support for all LSP capable editors, without doing much extra work.

[2018-06-18 06:17] arichiardi commented on #32
I guess you can do the translation - let's say harder than socket REPL. Note that socket REPL in 1.10 introduces prepl and therefore structured messages. I know you know it already, just saying it for completeness.

Either approach of course is great - the end result is to improve things - moving the logic to Orchard was definitely a great move. I will also explore the link you posted, thanks for

[2018-06-18 06:53] bbatsov commented on #32
Why would it be harder? Obviously working with something that exists is easier than with something that doesn't. :-) I'm referring to the fact that things like rename-symbol, xref and so on exist only in `refactor-nrepl` - no one has bother yet to move them to orchard. And there's the slight problem that using the parser to process the Clojure code has to evaluate it, which I guess is not really a

[2018-06-18 14:17] arichiardi commented on #32
Maybe harder is not the right word here, but I am specifically referring to the mere fact that there are many more moving parts: lsp over nRepl which uses Orchard vs lsp over socket REPL that uses Orchard _seems_ simpler to manage and to debug in case of problems for a green field project.

At least _I_ would start from simpler, then if I see that I need transports and extensions mechanisms I woul

[2018-07-01 00:02] cursive-ide commented on #33
BTW I wrote about this problem over on the Cursive issue tracker at cursive-ide/cursive#1541.

[2018-07-13 16:14] bbatsov commented on #33
I can take a look at this after https://github.com/technomancy/leiningen/pull/2444 gets merged, but for the time being my focus is getting the updated nREPL into the hands of users.

If someone wants to tackle this in the mean time - be my guest. :-)

[2018-07-13 16:47] bbatsov commented on #31
See https://nrepl.readthedocs.io/

[2018-07-13 16:47] #31 closed

[2018-07-22 21:14] blueberry commented on #16
I was bitten by this countless times. I thought this was intentionally designed like that! :)

It is not that theread locals are reset, though. They are still in their right place, but since the thread in which the next form is being evaluated changed, the thread locals in that new thread are different, and unset it they have never been set in that new thread.

I came to this thread by looking if

[2018-07-23 05:55] arrdem commented on #16
Hummmmm pinning per thread definitely makes sense - thread per connection is a well understood pattern - but couldn't you also just read and store the entire thread binding frame at the end of each eval?

[2018-07-23 07:19] blueberry commented on #16
I am not sure what are you refering to. Do you mean, do this automatically as a part of nrepl machinery, or manually as a user? If the later, that is exactly the problem: when using 3rd party libraries that maintain their own per-thread context (CUDA in my case) REPL needs constant attention because I never know when the underlying thread is going to change and need to re-setup the context manuall

[2018-07-23 07:32] arrdem commented on #16
Gotcha. I was referring specifically to the thread local binding state Clojure maintains, not to other JVM thread local state stores. For those yeah single-thread consistency is probably the best fix.

[2018-07-23 07:58] bbatsov commented on #16
It seems that really that has to do with the use of `future`s in nREPL (e.g. https://github.com/nrepl/nREPL/blob/master/src/clojure/nrepl/server.clj#L26), as there's no "manual" thread management anywhere - just `future`s and `delay`s if memory serves.

That's definitely one of the nastier bugs that we need to address.

[2018-07-23 08:39] bbatsov commented on #16
I stand corrected. :-) At least now it seems we have a very a good idea how to fix this. ;-) It's the same JVM instance.

You just have to build a local copy of nREPL and test with it (using say `cider-connect`). Some barebone instructions are available here http://nrepl.readthedocs.io/en/latest/hacking_on_nrepl/ Afterwards you can start the server with https://github.com/nrepl/lein-nrepl, as unfo

[2018-07-23 08:42] bbatsov commented on #16
[code]

This code was written when the only JDKs were 5 and 6 and it's a classic example of how not to check for an upper/lower boundary. Guess the intent to was to have the same behaviour of 5 and 6, but now we support only 8+, so we don't care about them.

It's fine to have many thread pools. I didn't write this code myself, so I'll have to get educated on it as well.

[2018-07-23 10:14] bbatsov commented on #33
Btw, @greglook, I noticed you filed the original ticket. Are you interested in working on making this customisable?

[2018-07-23 21:21] vspinu commented on #13
I might have a look but I already have quite a backlog of promised open source fixes here and elsewhere :/ This issues is from 2014 and it looks like it's not very high priority.

[2018-07-24 17:01] #28 closed

[2018-07-26 07:57] bbatsov commented on #16
As discussed with @vspinu I'm reopening this, as #36 solved the problem only partially. Ultimately we'll need to come up with more extensive changes that ensure sessions are mapped to a single thread that never changes.

[2018-07-26 08:45] bbatsov opened #37 "Convert the ops middleware docs generation logic into a lein task"
There's some docs generation logic here https://github.com/nrepl/nREPL/blob/master/src/clojure/nrepl/middleware.clj#L204

It's used to generate https://github.com/nrepl/nREPL/blob/master/doc/ops.md

Now it's pretty cumbersome to regenerate the ops document and some lein task would be a good step forward.

[2018-08-02 18:54] bhauman opened #38 "The interactive repl needs to truncate the last newline if it is using println"
The interactive REPL output needs to truncate the last newline of any output string if its supplying its own.

[2018-08-02 19:11] bbatsov commented on #38
The interactive REPLs certainly could use some love. For a very long time it was more or less forgotten as everyone assumed that REPL-y would always be used.

[2018-08-05 16:43] thiru opened #39 "Expose function to connect to an existing nREPL session"
It may be useful to expose the function to connect to an existing nREPL session, especially from the command-line (at least for the sake of a symmetric API - i.e. create/connect nREPL session).

Sean Corfield put this snippet together to connect to an existing nREPL session.  Note it uses a private function:

[code]

[2018-08-05 16:48] thiru opened #40 "Edit on Github links broken"
E.g. on this page: https://nrepl.readthedocs.io/en/latest/

The **Edit on Github** link results in a 404: https://github.com/nrepl/nREPL/edit/master/docs/index.md

This seems to be true for all such links.

[2018-08-05 19:02] #40 closed

[2018-08-07 15:53] bbatsov commented on #37
On second thought - we should probably just an `--describe-ops` command line flag, as that'd be simpler and more generic.

When extra middleware is loaded (e.g. cider-nrepl), we'd be able to generate documentation for it as well.

[2018-08-12 09:58] bbatsov opened #41 "Publish the API reference docs"
We can probably replicate the approach taken by @gonewest818 for orchard (https://clojure-emacs.github.io/orchard/master/).

Or maybe check that new service by @martinklepsch (https://github.com/cljdoc/cljdoc)?

[2018-08-12 21:13] martinklepsch commented on #41
Docs for nREPL are already on cljdoc: https://cljdoc.xyz/d/nrepl/nrepl/0.4.4

The sidebar is a bit of a mess because cljdoc tries to incorporate all the files in `doc/` but you can easily clean that up by adding a `doc/cljdoc.edn` file as [described in the guide](https://github.com/cljdoc/cljdoc/blob/master/doc/userguide/for-library-authors.adoc#configuring-articles).

I'd also offer to do this fo

[2018-08-13 05:54] bbatsov commented on #41
Oh, that's awesome! I thought I should probably probably do something myself to get the docs there.

@martinklepsch Yeah, that's easy enough, I just wonder how I'll be able to reconcile RTD/mkdocs and cljdoc. :-)

[2018-08-13 07:04] martinklepsch commented on #41
I think you should be able to incorporate all the Markdown files you use for RTD into cljdoc. Just use the `cljdoc.edn` file to describe the hierarchy and nesting you want.

One of the goals of cljdoc is to have API and non-API docs (= “articles”) in the same place so users can easily jump between them without too many clicks or reorienting themselves.

[2018-08-18 18:00] #38 closed

[2018-08-18 19:08] #41 closed

[2018-08-22 19:03] arichiardi commented on #6
My 2c: I actually was thinking that a mechanism like `.nrepl-port` would be sufficient, most of the tooling now understands that - for local nrepl that is.

For remote ones, cider can store `host:port` pairs so it is basically just a matter of adding your own. Probably using a default like that would be a bit overkill?

[2018-08-23 06:55] bbatsov commented on #6
Yeah, that solves the problem for local development for most people. We should certainly start creating the file in `nrepl.cmdline` as well.

[2018-08-24 07:49] cursive-ide opened #44 "Bind clojure.spec.alpha/*explain-out* by default"
From a Slack discussion in #cursive over a Clojurians: a `user.clj` file like the following:

[code]

causes an error: "java.lang.IllegalStateException: Can't change/establish root binding of: *explain-out* with set"

@puredanger explains:

Obviously this is a bit tricky to maintain support for Clojure < 1.9, but this is probably a common thing to want to do.

[2018-08-24 09:08] bbatsov commented on #44
Would you like to try to change this yourself?

On Fri, 24 Aug 2018 at 9:49, Colin Fleming <notifications@github.com> wrote:

[2018-08-24 10:44] cursive-ide commented on #44
Realistically, probably not - I have a ton of stuff on and I'm about to travel, so I'm unlikely to get to this any time soon.

[2018-08-24 11:14] puredanger commented on #44
Another option is to have nrepl actually call clojure.main/with-bindings so it starts picking up these kinds of changes automatically.

[2018-08-24 11:15] bbatsov commented on #44
Sounds pretty familiar. :-) I’ll take a look at this when I can. Might turn
out to be a trivial change.

On Fri, 24 Aug 2018 at 12:44, Colin Fleming <notifications@github.com>
wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2018-08-24 20:35] bbatsov commented on #44
@puredanger Do you mean we should replace https://github.com/nrepl/nREPL/blob/e77945a70f68989f69e955eef9e6cbe75cedacf4/src/clojure/nrepl/middleware/interruptible_eval.clj#L85 ?

Seems it was done due to some problem with the behaviour of clojure.main. I'm not very familiar with this part of the codebase, so some guidance/help would be appreciated.

[2018-08-26 07:08] #39 closed

[2018-08-31 12:50] TimoFreiberg opened #45 "Make using subrepls seamless"
This is written from the perspective of CIDER - I assume this still belongs here and not in CIDER

If you call `(clojure.main/repl)` in nREPL, the reading and printing is not done via nREPL magic anymore but by the implementation of `clojure.main/repl`.
The `stdin` reading triggers an outgoing nREPL message with status `("need-input")`, which CIDER handles completely different than the normal inpu

[2018-08-31 12:54] bbatsov commented on #45
Would you be willing to tackle this? I'm afraid I'll be really short on time for the next month or two.

[2018-08-31 13:01] bbatsov commented on #45
Btw, we are using `clojure.main/repl` internally (https://github.com/nrepl/nREPL/blob/e77945a70f68989f69e955eef9e6cbe75cedacf4/src/clojure/nrepl/middleware/interruptible_eval.clj#L87), so it seems we just have intercept such evaluation and handle them differently. I recall I saw some tickets or comments mentioning that @cemerick came to regret this decision eventually (to leverage `clojure.main/re

[2018-08-31 14:42] TimoFreiberg commented on #45
I would very much like to tackle this, but I definitely want to discuss any non-obvious design decisions with you/Chas/whoever is interested.
I'll think about the problem and start looking at the existing code.

[2018-08-31 16:32] bbatsov commented on #45
Sure.

On Fri, 31 Aug 2018 at 17:42, Timo Freiberg <notifications@github.com>
wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2018-09-01 06:09] bbatsov commented on #45
I think the assumption with the current implementation was that the implementation would be simplified if it was built on top of the standard Clojure REPL, but I guess this also proved limiting in some ways. Generally as long as we have a solution that works well for Clojure and ClojureScript (piggieback) we should be good and ideally this solution should not be too coupled with Clojure's internal

[2018-09-01 09:55] #32 closed

[2018-09-09 19:50] bbatsov opened #47 "Convert docs to AsciiDoc and publish directly to nrepl.org"
This is a continuation of https://github.com/cljdoc/cljdoc/issues/95

@SevereOverfl0w "volunteered" to convert the current manual to AsciiDoc. 😄

[2018-09-09 19:51] bbatsov commented on #47
Here's the empty repo intended to be used for publishing the site to GH pages https://github.com/nrepl/nREPL.org.

[2018-10-01 05:39] benjaminran opened #50 "Test transports-fail-on-disconnects fails during test-all"
## Expected behavior
All tests in `lein test-all` should pass.

## Actual behavior

Test `transports-fail-on-disconnects` fails on clojure v1.8 and v1.9 with message:
[code]

Full test-all output at https://gist.github.com/benjaminran/c2880f10fc2dad5378b01f7a64a72e57.

**Note:** the test doesn't fail when I run it directly:
[code]

Why does the test fail during test-all but not when run directly?

[2018-10-01 05:58] bbatsov commented on #50
Yeah, there's some flakiness in the tests unfortunately. Haven't had time to debug it, so some help with this will be appreciated.

[2018-10-03 20:17] bbatsov commented on #19
You can find some work on this (and a much bigger conversation) here https://github.com/nrepl/nREPL/pull/46.

[2018-10-05 12:47] SevereOverfl0w commented on #47
I'll get started this weekend, I'll take my keyboard home :smile:

[2018-10-05 14:52] bbatsov commented on #47
Fantastic! 🙇

[2018-10-08 18:26] #47 closed

[2018-10-14 10:02] SevereOverfl0w opened #54 "Start an nREPL using JVM Opts (Like socket REPL)"
It's not possible to start the clj tools in jack-in with a main or additional `-e` options.

Starting the nREPL should be similar to starting a socket REPL.  If it was a JVM opt it can be placed as the first parameter, _always_, as CLJ doesn't distinguish on order.

Using JVM opts in this way would also benefit production systems which wish to add nREPL. Currently it requires being able to evaluat

[2018-10-14 13:54] bbatsov commented on #54
Sounds like a cool idea, but you'd have to share a few more details, as I haven't used the socket REPL in a while and I don't even remember how you were supposed to start it. :-)

So, we basically want to run the app and also start the nREPL server "by the way", right? Maybe you can share how exactly the ideal run invocation would look like?

[2018-10-14 18:31] arichiardi opened #55 "Command line - compose middleware in deps.edn"
Hello folks!

I think that, not nRepl's fault for sure, one thing that does not compose well is the `--middleware` option at the moment. Say I have a `:cider-clj` entry in `deps.edn` with:

[code]

In theory I would like to add just one thing, the piggieback middleware, without changing anything else. Instead we have to add a `:cider-cljs` entry with:

[code]

Maybe we could allow many `--middlewa

[2018-10-14 18:41] bbatsov commented on #55
That's fine by me. I didn't fret too much over this when I added it - it was simply the behaviour we had for a while in `cider-nrepl` and it seemed to work ok. One small frustration I have with the cli options is that you can have `-m` for main and then `-m` for middleware, but I guess most people will sort this out. :-)

 PRs welcome!

[2018-10-14 18:42] bbatsov commented on #55
That's also somewhat related to https://github.com/nrepl/nREPL/issues/54 I guess.

[2018-10-14 18:45] bbatsov commented on #54
Seems we're after:

[code]

This would be awesome indeed, so a PR would be most welcomed by me!

[2018-10-14 18:53] arichiardi commented on #55
Yep, they are totally related and yes, there is still a lot of work when it comes to composing options in `deps.edn`. For instance one thing you need to be careful when you have these kinds of `:main-opts` aliases is that with `-A` you will include more than one, in case two aliases both have `:main-opts`.

I am almost tempted actually to delegate this kind of aliasing to something more suitable l

[2018-10-15 14:49] SevereOverfl0w commented on #54
It would seem that clojure's socket repl isn't as magical as I thought. It doesn't start until clojure itself does, relying on the loading of clojure.lang.RT. Getting nrepl to autostart requires finding a way to get something in Java/clojure to reference it, as initialization is lazy.

[2018-10-15 20:04] mallt commented on #13
I'm trying to debug this using the `clj` tool, but pressing `C-c` quits the `clj` tool instead of sending an interrupt. Does anybody perhaps know how to send an interrupt operation from the `clj` tool?

Alternatively, what would be the best way to make `lein repl` use my local version of nREPL?

Thanks for the help!

[2018-10-15 20:15] bbatsov commented on #13
@mallt Well, it'd be nice if we captured `C-c` in the terminal and had it send interrupt (and a `C-c` without a request can simply exit or something). Some more graceful handling of `C-c` and `C-d` have been on my mind for a while, but I never found the time for those. https://github.com/trptcolin/reply already does this, so I guess you can borrow some code from there or just use reply to debug th

[2018-10-15 20:30] mallt commented on #13
Ok thanks @bbatsov! I'll check how to make reply use my local version of nREPL.

[2018-10-17 09:20] erno opened #56 "nrepl listens to remote connections from all interfaces by default"
At https://github.com/clojure-emacs/cider/issues/2482 it was said that nrepl by default binds to "::", the IPv6 equivalent of 0.0.0.0, which is a security problem absent authentication since anyone from the internet can connect and execute code. Indeed the current code at https://github.com/nrepl/nREPL/blob/2dda589d5d8b1f8e299d532a303371cc3654d5ce/src/clojure/nrepl/server.clj#L108 seems to work th

[2018-10-17 19:36] bbatsov commented on #56
The open question from the CIDER issue remains - what should be the default? Seems if we bind to localhost we can't have both ipv4 and ipv6 clients connect to the server and this causes issues for some users. I'm open to suggestions.

[2018-10-17 20:40] #10 closed

[2018-10-18 06:36] erno commented on #56
I think this is a fundamental limitation of the socket api. You need to have the code changed to handle multiple concurrent listening sockets if you want to listen to both IPv4 localhost and IPv6 localhost. Just sticking to IPv4 localhost is fine until then.

[2018-10-18 11:33] mallt commented on #44
When I try to reproduce the `java.lang.IllegalStateException` using nrepl version `0.2.13`, the `set!` seems to work:
<img width="474" alt="image" src="https://user-images.githubusercontent.com/8885691/47151369-d484a880-d2d9-11e8-8e74-bb3c768600d7.png">

Is this issue tied to a specific version of nrepl?

[2018-10-18 12:27] bbatsov commented on #56
@SevereOverfl0w @arrdem Any thoughts on this?

[2018-10-18 12:40] bbatsov commented on #56
Some mode details here https://docs.oracle.com/javase/8/docs/technotes/guides/net/ipv6_guide/index.html

[2018-10-18 13:03] bbatsov commented on #44
@mallt I doubt so. Did you try running something using expound?

[2018-10-18 13:08] mallt commented on #44
I tried with expound and it seems to work as well:

<img width="470" alt="image" src="https://user-images.githubusercontent.com/8885691/47156514-93939080-d2e7-11e8-901a-7a8825527346.png">

[2018-10-18 18:11] bbatsov commented on #33
@mallt Yep, this seems like a reasonable solution to me.

How you testing this, btw?

[2018-10-18 18:34] bbatsov commented on #33
I've documented a bit of this https://nrepl.xyz/nrepl/0.4.5/hacking_on_nrepl.html

Might be a good idea to extend the hacking sections with tips on interactive developing nREPL.

[2018-10-18 21:46] mallt commented on #33
The proposed solution seems to work for clojure 1.9, but the tests for 1.7 and 1.8 fail on it because `*print-namespace-maps*` does not exist in these versions.

I tried to wrap the `set!` in a `when`:
[code]
but this still throws a the error `Unable to resolve symbol: *print-namespace-maps* in this context`.

I also tried like this:
[code]
but then I get a `Invalid assignment target` error.

Does

[2018-10-19 08:37] bbatsov commented on #33
I'm not an expert on the subject, but it seems to me that we just need to define the dynamic var if it doesn't exist. Here's the definition in 1.9 - just a regular dynamic var.

[code]

There's nothing magic about it. I guess you can conditionally define it when it's not present. Maybe @arrdem, @SevereOverfl0w or @puredanger would have a better idea, as I almost never use dynamic vars.

[2018-10-19 09:46] mallt commented on #33
Thanks @bbatsov! Adding the dynamic var like this fixes the tests for 1.7 and 1.8:
[code]

But the `when-not` doesn't seem to work in 1.9, causing the warning:

 `WARNING: *print-namespace-maps* already refers to: #'clojure.core/*print-namespace-maps* in namespace: nrepl.middleware.interruptible-eval, being replaced by: #'nrepl.middleware.interruptible-eval/*print-namespace-maps*`

when running th

[2018-10-19 10:08] erno commented on #56
Yes, like the Java docs note (mirroring the C socket API), the "::" address is a special case in that it can accept both v4 and v6 connections. For historical context: this was an early compatibility hack in the IPv6 socket API design so that typical socket server apps could support dual-stack operation (as simultaenous  v6 + v4 compatbility was called) with minium changes, continuin with a single

[2018-10-19 13:44] puredanger commented on #33
You can use `(:refer-clojure :exclude [*print-namespace-maps*])` in your namespace declaration.

[2018-10-19 15:30] puredanger commented on #33
Can you just call clojure.main/with-bindings? The intent of that is to install the macro bindings needed at the repl. If you call that for whatever version of Clojure you are on, you should get the bindings that clojure.main provides.

[2018-10-20 08:35] bbatsov commented on #56
Got it. Well, it makes sense to me to change this back to `localhost` (or 127.0.0.1) and just improve the docs.

Ideally we can switch our server model to feature two sockets if someone is willing to work on this. //cc @hanshuebner

[2018-10-20 08:53] bbatsov commented on #44
Interesting. It seems to me that this should be broken, so I'm really puzzled that it works. Maybe we just inherited the binding from clojure.main?

[2018-10-20 12:56] mallt commented on #33
Thank you for the feedback @puredanger!

When switching to `clojure.main/with-bindings` locally, it seems the `*print-namespace-maps*` still needs to be set! explicitly in the :init of `clojure.main/repl`, otherwise changes to the var do not seem to come through (the same is currently done for *compile-path*, *1, *2, *3 and *e: https://github.com/nrepl/nREPL/blob/master/src/clojure/nrepl/middlewar

[2018-10-20 13:13] bbatsov commented on #33
@puredanger We're already using `with-bindings` https://github.com/nrepl/nREPL/blob/19868816a89878f9fc4caf8b08e7ac0bd8c65275/src/clojure/nrepl/middleware/session.clj#L117 (this wraps each evaluation)

I think this comment (https://github.com/nrepl/nREPL/blob/19868816a89878f9fc4caf8b08e7ac0bd8c65275/src/clojure/nrepl/middleware/interruptible_eval.clj#L91) is the key to our current problems and the

[2018-10-21 21:53] #12 closed

[2018-10-22 19:42] bbatsov opened #60 "Implement an EDN transport"
Having an EDN transport would simplify the lives of people using Clojure/ClojureScript/Java clients for nREPL. It should be pretty easy to create a transport based on the default bencode transport that simply uses EDN instead of bencode. Here's the implementation of the `bencode` transport as a reference:

[code]

The best thing about this transport is that it requires no extra deps, so it can be

[2018-10-22 19:59] bbatsov opened #61 "Implement a Transit transport"
That's a pretty similar issue to #60.

Having a [Transit](https://github.com/cognitect/transit-clj) transport would simplify the lives of people using Clojure/ClojureScript/Java clients for nREPL. It's main advantage over an EDN transport would be that Transit defines a more flexible format that's also JSON friendly.

It should be pretty easy to create a transport based on the default bencode tran

[2018-10-22 20:38] mallt opened #62 "Investigate handling of background thread"
Posting this issue here as a reference to [a CIDER issue](https://github.com/clojure-emacs/cider/issues/2474) where a background thread is assigned a different nrepl message id.

[2018-10-22 21:35] bbatsov commented on #62
The real issue is deeper and it has to do the with the stderr and stdout bindings of nREPL. Basically output from background threads ended up in the console when nREPL was started (e.g. via `lein repl`) or in the CIDER buffer for the server process instead of in the CIDER REPL. As I don't even recall what was the exact issue in nREPL and how feasible it was to fix it, but as a workaround we create

[2018-10-22 21:50] bbatsov commented on #62
After digging around I found a few references in the history here https://github.com/clojure-emacs/cider/pull/1376

Long story short - I think we need something similar to the out middleware to be bundled with nREPL (or to reconsider the initial bindings for *out* and *err*).

Judging from here (https://github.com/nrepl/nrepl/blob/19868816a89878f9fc4caf8b08e7ac0bd8c65275/src/clojure/nrepl/server.c

[2018-10-23 11:05] bbatsov opened #63 "Make it possible to specify the transport used by the server via the CLI"
It'd be really nice if it was possible to start a server via the CLI using different transport, as right now `bencode` is hardcoded there. I guess we can simply add a `--transport` flag for this which can be the transport to use (a var that we can require and resolve perhaps). Maybe we can add some special handling for built-in transports, so those are easier to use. Here's some example usage:

[c

[2018-10-23 15:54] Deraen commented on #54
Did you check `nrepl.cmdline` namespace? And there is also Java main class.

[code]

[2018-10-23 18:00] bbatsov opened #64 "Update the cljdoc config"
Now that finally our docs are in AsciiDoc, we can finally serve them via cljdoc.org as well. We just need to update https://github.com/nrepl/nrepl/blob/master/doc/cljdoc.edn accordingly and tag a new nREPL release.

[2018-10-23 21:58] #64 closed

[2018-10-23 22:33] #56 closed

[2018-10-24 06:10] SevereOverfl0w commented on #54
@Deraen the problem I have currently is that I can't specify `-m` _and_ `-e`.  I think this is a clojure.main limitation.

See:

[code]

Which doesn't start an nrepl server.

[2018-10-24 10:30] SevereOverfl0w commented on #54
@bbatsov Sorry, I should been explicit. The key thing missing is that I want `-A:user/rebel` (which has `-m rebel.main` in) to not prevent nrepl from starting.

I want to be able to start a command line REPL (or anything else) without being prevented from starting nREPL simultaneously.

This would be particularly nice for the case where I'm trying to debug a process primarily run via the main (e.g

[2018-10-24 10:57] bbatsov commented on #54
@SevereOverfl0w No, I totally get this now. I was actually facing a similar problem with REPL-y - I want to potentially start a default REPL-y repl using `clj`, but it's hard to do it in the current setup. One idea I had to was to check in `nrepl.cmdline` if it's on the classpath and use it instead of simple built-in REPL (and I guess we can do the same for `rebel`) or maybe to actually create a s

[2018-10-24 17:03] bbatsov commented on #33
@mallt Another potential solution was presented [here](https://stackoverflow.com/questions/52964622/bind-conditionally-a-dynamic-var-from-clojures-core-for-backwards-compatibility/52968638#52968638):

[code]

Can you test if this gets the job done?

[2018-10-25 18:14] mallt commented on #44
Could someone else perhaps check this as well? Maybe it works on my machine by some coincidence.
I start `lein repl` in a test project with `[org.clojure/clojure "1.9.0"]` and `[expound "0.7.1"]` as dependencies. Thanks!

[2018-10-25 20:46] #33 closed

[2018-10-29 09:16] bbatsov commented on #63
I've implemented this in #66.

[2018-10-29 13:15] dotemacs commented on #60
Let me nudge this along...

Since `bencode` is used, it needs to:
1. read the input
1. decode the input so that it can be used

With EDN it would be something along these lines instead:

[code]

Am I going in the right direction here?

[2018-10-29 13:20] bbatsov commented on #60
Yeah, seems to me that you're moving in the right direction. The situation with EDN is much simpler because there's nothing really to encode/decode.

I think I'm missing something. Bencode won't be used at all in an EDN transport.

[2018-10-29 13:31] dotemacs commented on #60
I made it into a commit [here](https://github.com/dotemacs/nrepl/commit/6c7f88037da6d932ec45ad487b5d7c7957df9e5d). I'll look at what else needs to be added for this to become a proper pull request.

[2018-10-29 21:10] bbatsov commented on #60
Looking forward to it!

[2018-10-30 14:10] bbatsov commented on #60
Btw, you can test the result like this:

[code]

That assumes you've named this protocol edn like this:

[code]

Maybe a name with `nrepl+end` wold be better. I'll leave to you to figure out those details.

[2018-10-30 16:40] dotemacs commented on #60
Thanks for the nudge...

[2018-10-30 20:22] bbatsov commented on #60
Any time! 😉

[2018-10-30 21:20] dotemacs commented on #60
I think that I've done it, but there is a failing test...

The change is [here](https://github.com/dotemacs/nrepl/commit/7df618b68f15bc7766836558526d80724ec9a810)

Just dealing with this test failure:

[code]

[2018-10-30 21:32] dotemacs commented on #60
Solved the failing test issue, it was just the way I required things.

I'll open a PR to move the discussion there.

[2018-10-31 06:35] bbatsov opened #68 "Eliminate illegal access warnings"
When we start the server today on JDK 9+ we get:

[code]
There we're setting some protected fields, which was never really a great approach, but now it seems this might be blocked down the road. We need to see how we can set the metadata without breaking data encapsulation. Maybe we can get some inspiration from `clojure.main`?

@mallt Would like to tackle this? I assume it'd be pretty straight-fo

[2018-10-31 11:06] luckypunk commented on #30
![nrepl2](https://user-images.githubusercontent.com/25934113/47784248-4f4fb980-dd05-11e8-8e1f-8f4174116bcd.png)

[2018-10-31 11:06] mallt commented on #68
@bbatsov I'm trying to reproduce the warnings on my machine. When I try to launch nrepl from the master branch with `clj -Sdeps '{:deps {nrepl {:mvn/version "0.5.0-SNAPSHOT"}}}' -m nrepl.cmdline --interactive` with openjdk-10 I don't seem to get any warnings.

For which java and clojure version do you get these warnings? Or should nrepl be started differently to be able to see the warnings?

Thank

[2018-10-31 14:11] bbatsov commented on #68
Hmmm, I start it in exactly the same manner on OracleJDK 10. Clojure 1.9, but this shouldn't matter.

I get those warnings absolutely every time. I assume it's something to do with your JVM's configuration.

[2018-10-31 14:12] bbatsov commented on #68
This seems related - http://mail.openjdk.java.net/pipermail/jigsaw-dev/2017-May/012673.html

What's the value for you?

[2018-10-31 16:21] mallt commented on #68
I tried to explicitly set the option with `clj -J--illegal-access=warn -Sdeps '{:deps {nrepl {:mvn/version "0.5.0-SNAPSHOT"}}}' -m nrepl.cmdline --interactive` but even then no warnings are shown.

[2018-10-31 18:01] tonsky commented on #30
I might also have something to propose
![nrepl](https://user-images.githubusercontent.com/285292/47808713-07a24f80-dd50-11e8-9aa8-ab60f91f3763.png)

[2018-10-31 18:12] bbatsov commented on #30
@tonsky I believe we have a winner! I love it!

[2018-10-31 18:18] bbatsov commented on #30
Can I ask you to export this in a few sizes + some favicons as we did for the CIDER logo? (https://github.com/clojure-emacs/cider/tree/master/logo)

[2018-10-31 18:50] tonsky commented on #30
Sure will do tomorrow

[2018-10-31 19:21] bbatsov commented on #30
Thanks! 🙇

[2018-10-31 21:12] mallt commented on #68
@bbatsov Nevermind, I noticed the warnings are shown when running `lein test`, so that gives me a starting point. :)

[2018-10-31 23:03] #68 closed

[2018-11-01 07:40] bbatsov commented on #30
Btw, a designer friend of mine gave a bit of feedback that seems reasonable, so I'll pass it along. He suggested to include `n/N` also in the black text, as according to him it was customary to spell the entire name out of a project/company. He also mention that this would make it easier to vertically align the logo symbol and the text. I'm no expert, but I decided to share this in case you want t

[2018-11-01 21:09] #30 closed

[2018-11-02 08:28] bbatsov commented on #55
Btw, now that #66 is merged you can also specify some default middleware via `.nrepl/config.edn` or `.nrepl-config.edn`. I think that's a much better approach than having each build tool have their own way to configure nREPL, although this will also require small updates to `boot` and `lein`'s REPL tasks.

[2018-11-02 15:46] arichiardi commented on #54
I took don't see too much value in adding support for the current way `clj` does argument composition. It is just not straightforward.

Even if we had `nrepl.cmdline -m ... -m ...` (or similar args for JVM opts) one would still need to guess/discover/understand that vectors in different aliases are concatenating in `clj`.

I found the idea of `nrepl.edn` much better.

[2018-11-04 20:22] kohr-h opened #74 "Connecting to a manually started nREPL server raises `ClassNotFoundException: clojure.tools.nrepl`"
I encountered a strange error when starting an nREPL server programmatically and then connecting to it via `lein repl :connect <port>`. A `CompilerException java.lang.ClassNotFoundException: clojure.tools.nrepl` is thrown, i.e., it refers to the old namespace.

I'm not sure where the error lies, nREPL or Leiningen, but I'm posting here first :wink:

## Steps to reproduce the problem

Here's a (som

[2018-11-04 20:33] bbatsov commented on #74
The problem is definitely in leiningen and I assume that it won't exist if you build the lein master from source. We should probably add `:connect` to `lein-nrepl` as well, so people have some alternative until 2.8.2 is released.

[2018-11-04 20:49] kohr-h commented on #74
You are correct, I just tested with Leiningen Git `master`, and the problem is gone. Thanks!

[2018-11-04 20:49] #74 closed

[2018-11-05 06:16] bbatsov opened #75 "Make it possible to limit the size of returned values and output"
Some clients (e.g. Emacs) can't handle very well huge strings in their REPL buffers. It's also questionable how good UX this constitutes as well.

Ideally we should be able to specify some value/output limit in eval ops, so that we can trim the result accordingly. We can either return the full and trimmed results in the same message or just have clients request to eval the same code again without

[2018-11-08 00:38] weavejester opened #77 "Exception when using Ctrl-D in interactive mode"
## Expected behavior

Entering Ctrl-D in an interactive nREPL session makes it immediately exit.

## Actual behavior

Entering Ctrl-D throws an exception and hangs the process.

## Steps to reproduce the problem

[code]

[2018-11-08 06:44] bbatsov commented on #77
Yeah, we should fix this.

[2018-11-08 20:49] mallt commented on #77
Changing the [cmdline message](https://github.com/nrepl/nrepl/blob/master/src/clojure/nrepl/cmdline.clj#L45) from
[code]

to
[code]

seems to do the trick by using the `eof-error?` and `eof-value` arguments of the read function.

Would this be an acceptable fix?

[2018-11-13 07:31] bbatsov commented on #64
Done.

[2018-11-13 18:53] mallt commented on #44
@cursive-ide Could you check if you're still experiencing this issue? Thanks!

[2018-11-14 20:31] bbatsov commented on #13
@mallt Looks like a good approach to me. I don't envision any unexpected problems with this.

[2018-11-15 14:53] #13 closed

[2018-11-18 10:09] bbatsov opened #85 "Implement message logging functionality"
**Is your feature request related to a problem? Please describe.**

Often when people encounter an issue with nREPL the best way to debug the issues is to expect the message exchange between their client and nREPL, so we/they can check whether the request and response messages are what we're expecting them to be (both in their encoded and decoded form).

**Describe the solution you'd like**

Ideal

[2018-11-18 18:11] pfeodrippe commented on #85
Definitively I'm going to tackle something about this at #84, thanks for this issue, it's gonna be a good guide! o/

[2018-11-19 19:18] pfeodrippe commented on #85
I'm having some problems with it
1) When reading data, `transport-read` function is not available at `FnTransport`, can't see the data without changing the concrete transport implementation
2) `send-fn` at is opaque

For `1`, we could get the message after decoded and encode it again, but maybe it would not be representative enough of the received message.

For 2, I can compose the message using t

[2018-11-20 08:50] bbatsov commented on #85
So using something like `logging-transport` wrapper won't work? I think this was my original idea, but I didn't think much about this.

Yeah, perhaps that'd be better. We can just add some `debug/verbose` config to `start-server` and potentially support this via `nrepl.config`. That won't allow us to toggle dynamically the logging on/off, but it'd be a perfectly adequate solution for me.

[2018-11-20 18:59] mallt commented on #62
If I add the line of [this SO post](https://stackoverflow.com/questions/26743958/why-cant-i-print-from-background-threads-in-clojure-cider-repl-in-emacs/27056185#27056185):
[code]
 to the `:init` of the clojure.main/repl in interruptle_eval, I seem to get the expected behavior for the code posted in the CIDER issue, except that the response did not receive an id:
[code]

This already looks like a

[2018-11-20 19:40] mallt commented on #62
I found out that adding this line to the :init of the clojure.main/repl seems to fix the missing :id as well:
[code]

Maybe there's a chance this will fix #29 as well. All code that starts it's own thread loses the `*msg*` binding.

There seems to be 1 failing test due to these changes, if I figure out why I'll submit a PR.

[2018-11-20 22:43] mallt commented on #62
The [repl-out-writer test](https://github.com/nrepl/nrepl/blob/master/test/clojure/nrepl/sanity_test.clj#L84) is failing after these changes, but I haven't found the problem yet.

[2018-11-22 13:55] bbatsov commented on #75
@behrica As that's strictly CIDER specific it'd be best to convert this into a CIDER issue. You're making some valid points, but they are somewhat orthogonal to what we're trying to solve here.

[2018-11-22 14:01] bbatsov commented on #62
Great analysis of the current situation! Thanks!

Yeah, that's a good point, but we should also keep in mind that the out middleware is one giant ugly workaround. The only reason it exists is because Java output and background output is not handled properly in nREPL itself currently. The moment solve this in nREPL this middleware is just getting deleted.

I really don't think this can be properly

[2018-11-22 14:02] bbatsov commented on #62
@vspinu Btw, if you take a closer look at the PR you'll see it also address the problem with the missing request ids, which is just as painful as the one with the output.

[2018-11-22 14:12] mallt commented on #62
Thanks a lot for all the feedback guys!

While running this branch in an nrepl.cmdline, I noticed that I needed to add a binding for `*out*` around the repl loop in order to see any output in the terminal, so I'm afraid this change might break other things as well...

Maybe I should move the change of the `*msg*` root to a separate PR, as this seems to be less "risky" than the `*out*` change?

[2018-11-22 14:20] mallt commented on #62
While looking back at the nrepl messages log of the CIDER issue:
[code]

it would be logic if the "in thread" response also got `126` as id, since that is the id of the message the response originates from. Or should the id differ because the output was generated in a different thread?

[2018-11-22 15:22] behrica commented on #75
I have a more general comment , which belongs here:

I think a good truncation strategy is very difficult to come up with.

Because there are at least two very orthogonal data structures which makes problems:

- huge sequences of rather small elements
- huge individual strings inside short sequences

(and everything inbetween)

Every "truncate" function need to pick some cases of structures (seqs,

[2018-11-22 15:34] vspinu commented on #62
Had no idea that we had those. What is the relevant issue? Do we have a good understanding of how those missing ids come about?

[2018-11-22 16:34] mallt commented on #62
In this example the `:out "in thread"` response has a missing id (in this example the `(alter-var-root #'*out* (constantly (@bindings #'*out*)))` line is present, it's currently the only way I have been able to reproduce the missing id issue):
[code]

This is caused by the `*msg*` not being bound in the background thread. The `*msg*` is used [in the `session-out` function to pass to the `response-

[2018-11-22 18:11] vspinu commented on #62
I see. This makes sense and is similar to the `*out*` binding problem indeed. If my intuition is right, the root-binding solution can potentially be much worse than `nil`s. Let's say our op is "eval". If you eval twice in a row and the first one keeps returning messages in the background then at some point you will start receiving messages from first eval with the ids of the second eval. This woul

[2018-11-22 20:37] vspinu commented on #62
Well, `eval` is the printing middleware in the sense that the `value` returned is the [printed value](https://github.com/clojure/tools.nrepl/blob/master/src/main/clojure/clojure/tools/nrepl/middleware/interruptible_eval.clj#L105-L115)

Indeed, this is what I meant by "If eval can be made to work on the same *out* printer throughout session". I think this is the right approach for eval and printing

[2018-11-22 20:51] mallt commented on #62
When creating a session [`out` is bound to `session-out`](https://github.com/nrepl/nrepl/blob/master/src/clojure/nrepl/middleware/session.clj#L119), but so for background threads the `session-out` is not used.

Do you think there is a clean way to solve this for background threads as well? I guess I need check how `cider-nrepl` is handling this... :)

Thanks!

[2018-11-23 18:51] mallt commented on #29
I've been able to reproduce [cider issue 2138](https://github.com/clojure-emacs/cider/issues/2138) on my machine and can confirm it is related to printing in a background thread.

With the nrepl version before PR #86 the "yep" has a missing id:
[code]

With the version of the PR branch the "yep" gets an id:
[code]

As discussed with @vspinu it's dangerous however to use the `*msg*` reference since

[2018-11-24 01:47] bbatsov commented on #29
CIDER blows up for such responses (as expected, because its response handlers are attached to request ids), so this is something that we really need to resolve one way or another. I'm certain we can find some way to infer the id of the original request in such cases.

[2018-11-24 10:10] bbatsov commented on #29
Why so? I can't imagine how can something like this be good for the clients. You start getting some random messages and you have no idea what to do with them or when they originated from. That's clearly a major problem. Sure, you can install some fallback handlers for such orphaned messages, but this doesn't sound like a proper solution to me.

Not to mention that any request can potentially origi

[2018-11-24 14:18] bbatsov commented on #62
Frankly, I don't recall why we implemented the subscription model. I think @malabarba would know best. Maybe you can dig into the the history of the middleware in git and read the related PR discussions for some insight?

The main problem that the middleware caused for some people was that it redirected some output they wanted send just to the console to CIDER's client sessions. I think we made th

[2018-11-24 18:46] arichiardi commented on #29
Yep just was saying is that it seems a problem of semantics and lifecycle. Of course if you are in control of starting the threads you can bind the id at spawn time.

It looks like we are saying the same thing :smile:

[2018-11-25 08:30] mallt commented on #29
If we get a request that starts a thread itself, like this one f.ex.:
[code]
is there a way of binding the message id to that thread?

When I was looking into this it seemed altering the var root was the only option, but maybe I missed something. Thanks!

[2018-11-25 14:49] mallt commented on #62
Thank you @bbatsov, it looks like [this cider-nrepl issue](https://github.com/clojure-emacs/cider-nrepl/issues/266) was the reason for the subscription logic.

I will give this some extra thought. I think we should aim for an implementation where all output passes the [`session-out`](https://github.com/nrepl/nrepl/blob/master/src/clojure/nrepl/middleware/session.clj#L27) function regardless of the

[2018-11-28 18:35] mallt commented on #29
I'm afraid I'm stuck with this problem.

@bbatsov @arichiardi Any help would be greatly appreciated. Thanks!

[2018-11-30 01:03] technomancy opened #89 "Dependency on tools.logging is incompatible with leiningen pedantic feature"
When using the latest version of Leiningen from git, a dependency on `nrepl` is injected into the list of dependencies whenever the `:base` profile is used (which is most of the time).

When this happens, `org.clojure/tools.logging` is pulled in as an indirect dependency. Any medium-to-large sized Clojure project already pulls in a different version of that library. Such projects which have the `:

[2018-11-30 13:02] #89 closed

[2018-11-30 13:12] bbatsov commented on #89
Done.

[2018-12-02 12:42] bbatsov opened #90 "Doesn't display properly URLs if using a 3rd-party transport"
Basically right now we have a hardcoded check for `bencode` here https://github.com/nrepl/nrepl/blob/master/src/clojure/nrepl/cmdline.clj#L215 and the assumption is that if you're using bencode you're using `telnet`.

This should be made generic now that we have transports like fastlane and the upcoming EDN transport.

@mallt @pfeodrippe Would one of you volunteer to tackle this?

[2018-12-04 20:33] SevereOverfl0w commented on #37
Even simpler than a lein task, write a main and use `lein run`

[2018-12-04 22:12] cgrand commented on #16
If you map sessions to threads then it simplifies code a lot (look at all the references to `get-thread-bindings` for a start). However you lose interruptible eval.

Another possibility is to use reflection so as to save thread locals (and inheritable thread locals for exhaustiveness) like we do with thread bindings (actually it would save thread bindings too since they are stored in a ThreadLocal

[2018-12-04 23:16] bbatsov commented on #16
Yeah, that's a great point. You should also take a look at the subsequent conversation we've had here https://github.com/nrepl/nrepl/issues/62 on the subject.

How big of an impact do you think this is going to to have?

[2018-12-05 00:56] bbatsov commented on #75
I want to briefly follow-up on this - after some experimentation (thanks a lot @pfeodrippe!) we've decided that this approach was fundamentally flawed. We've opted in a different direction - bringing Unrepl's handling for collections (elided collections) to nREPL).

[2018-12-05 06:56] cgrand opened #92 "Elisions and other rich printing"
The unrepl printer provides elision: large locations are truncated and a *cough* hypermedia affordance *cough* is put where truncation happened; this hyperlink of sorts contains a regular form that you just have to evaluate to get back the remaining part... which itself can be elided if still too large. So it's related to #75.

Clients can render elisions as buttons and, on click, the button is re

[2018-12-05 11:56] bbatsov commented on #92
I guess we can easily extend this to other types like images, urls and so on. That'd be pretty cool!
It would also be a more generic way to deal with rich responses than our existing middleware https://github.com/clojure-emacs/cider-nrepl/blob/master/src/cider/nrepl/middleware/content_type.clj
It gets the job done, but it's not very flexible.

I think that's a reasonable trade-off. Some clients wi

[2018-12-05 11:59] bbatsov commented on #45
@cgrand If you have some time I'd appreciate to hear your insight on this ticket. I'm guess you're probably more familiar than me with Clojure's REPL implementation details.

[2018-12-05 12:03] bbatsov commented on #75
Closing in favour of #92.

[2018-12-05 12:03] #75 closed

[2018-12-05 12:04] pfeodrippe commented on #75
Awesome! Anxious to see it \o/

[2018-12-05 12:06] bbatsov opened #93 "Make the default printer configurable"
**Is your feature request related to a problem? Please describe.**

Currently the default printer is hard-code in `pr-values` and you can also override it in eval messages with the `printer` key. It might be a good idea to be able to override it globally using nREPL's config files.

**Describe the solution you'd like**

We should add a `:printer` and `:printer-options` to the known config keys tha

[2018-12-05 12:58] cgrand commented on #45
First the use `main/repl` by `interruptible-eval` is unrelated to the problem.
I'm indeed familiar with the issue of subrepls -- unrepl being a "subrepl".
The core of the issue is that repls don't compose: when one starts a repl inside a repl, the new repl takes full control of input and output streams. Did you set up something special in read/eval/print of the parent repl? It's gone, inaccessible

[2018-12-05 13:09] cgrand commented on #92
- [X] import the printer
- [ ] port elision storage

[2018-12-05 13:10] cgrand commented on #92
I have to think more through it: elided printing requires a session for elision storage.

[2018-12-06 16:00] cgrand commented on #92
So I need to make the session available to the print function. Dynamic binding doesn't fit with nrepl design. Maybe a `:contextual-printer` option that would works like `: printer` except that the session would be passed to the printing-fn. Or I just hardcode everything under a `:rich-print true`

[2018-12-06 17:44] bbatsov commented on #92
Nice!

Don't you get the session as part of the request anyways? After all the clients have to tell the server which session to use, right? (at least for evaluation)

[2018-12-06 22:57] cursive-ide commented on #44
@mallt Sorry this took so long. I just tried this with `0.2.13`, what I see is that the `set!` works in the REPL, but produces the IllegalStateException when set in `user.clj`.

[2018-12-06 22:57] cgrand commented on #92
Simpler change: add the session to the `:print-options` map

[2018-12-06 23:01] puredanger commented on #44
user.clj is loaded *very* early in the Clojure runtime, before just about anything else, which seems increasingly weird to me.

[2018-12-06 23:44] bbatsov commented on #44
@puredanger When exactly is it loaded? Is this specified somewhere or the current behaviour is "accidental"?

[2018-12-06 23:44] bbatsov commented on #92
Yeah, that sounds perfectly fine to me. 👍

[2018-12-07 00:43] puredanger commented on #44
It’s loaded in the static initializer of RT which is pretty early.

[2018-12-09 21:18] #90 closed

[2018-12-10 13:13] cgrand commented on #16
Having thought a bit more about it, I have a new proposal:
• allocate a dedicated thread when a session is created by `clone`,
• document that interrupting an eval will cause the thread to be cycled for another one.

[2018-12-12 01:49] pfeodrippe commented on #61
Let's close this o/

[2018-12-12 02:11] pfeodrippe commented on #50
I think we could close this as well

[2018-12-12 09:33] cgrand opened #96 "Injection over plain socket repl"
Make it possible to upgrade a plain socket repl to a nREPL connection.

A socket repl is a UTF-8 (Is it even guaranteed ?) connection, so upgrading it to bencode is not possible if real binary payloads are in use; are they? In any case we would need a custom bencoder that knows the underlying stream is already UTF-8.

The edn transport would be an easier target.

Since nREPL has multiplexed input

[2018-12-12 09:36] cgrand opened #97 "Sideloader"
Allow clients to act as network classloaders for the target repl. Thus dependencies can be added on the fly without requiring a shared FS.

[2018-12-12 11:59] mallt commented on #29
@cgrand Could you perhaps shed some light on this problem? Thanks!

[2018-12-12 12:51] cgrand commented on #29
Here's what I get from a quick read, please tell me if I'm wrong:
 * ids are missing because `*msg*` is not bound anymore, but we are in a session-out writer, so `*out*` is bound. Binding-conveyance is not selective so the code is running in a "foreign" thread. (I checked: PApplet run setup on its own thread.)
 * the root of `*out*` has been altered nor `System/setOut` called... indeed https://git

[2018-12-12 13:37] mallt commented on #29
Thank you for checking this so quickly! When looking purely to nREPL indeed both `*msg*` and `*out*` are not bound in background threads. So if something is printed in a background thread nREPL will not capture this, and also will not know by which incoming message the printing was requested.

Would there be a way to evaluate eval operations in an "isolated" environment in which we can bind both `

[2018-12-13 01:31] RickMoynihan opened #99 "Preserve :actual-value of evaluation in middleware pipeline"
I've been implementing a middleware that can send evaluation results to the new cognitect REBL tool.  It's still early stages but it essentially works; with some rough edges to iron out.

Rich Hickey recently asked on slack clojurians on the `#rebl` channel how it works.  It seems when he'd looked into supporting REBL in nrepl he didn't think it was possible in the general case due to nrepl repres

[2018-12-13 01:37] RickMoynihan commented on #99
Ahh it seems one reason this may have been missed is that it looks like some of this was recently changed in https://github.com/nrepl/nrepl/issues/12

[2018-12-13 08:53] bbatsov commented on #99
@RickMoynihan The changes in #12 were simply cosmetic - a hardcoded function for printing the result was made configurable. It's still probably most prudent to simply insert this middleware before `pr-values`.

We can do something like this, but there's a chance it can break some clients as a complex EDN response might be hard for them to swallow. I'll have to take a closer look at this.

[2018-12-13 09:14] #50 closed

[2018-12-13 09:45] RickMoynihan commented on #99
Specifically what clients are you thinking @bbatsov?

The idea is that the `:actual-value` key would only stay in the nrepl server process middleware stack and would never be sent across the wire.

Are there any middlewares that we know of that look at all the keys from the response map?

I also suggested to Rich that it might be worth providing a new op:

With the idea being that a client could s

[2018-12-13 12:10] cgrand commented on #29
The crux of the problem is that those threads live outside of your isolated env. So it would mean putting everything in the isolated env...

If you want to catch everything then using `System/set(Out|Err)` is the way to go. There's "just" a subtle bug in the cider-nrepl implementation.

Shouldn't such a feature be part of nrepl proper? It's about basic stream handling.

[2018-12-13 12:13] cgrand commented on #92
I want to tweak the edn printing to better support `datafy` -- currently it's only possible on things that print as `#unrepl/object`.

[2018-12-13 12:36] bbatsov commented on #29
Yeah, it should be. At the time when this was added to cider-nrepl I didn't have the option to change nREPL itself, so I had to get creative. For the same reason cider-nrepl currently has a pprint middleware (as before nREPL 0.5 the printer was hardcoded we couldn't simply instruct the server which printer to use).

At this point I certainly think we should just handle the out/err better in nREPL

[2018-12-13 15:19] bbatsov commented on #99
I recall at least in the early days of CIDER it's bencode parser would sometimes explode when faced with complex metadata EDN maps. And in general you can even represent everything can be in EDN in bencode, so this has to be kept in mind as well.

That's kinda hard to achieve as `eval` would have to insert it and some other middleware has to disjoin in down the middleware stack, but if this middle

[2018-12-14 09:31] cgrand commented on #44
@puredanger @bbatsov @cursive-ide but when `user.clj` is loaded the dynamic scope is small: https://github.com/clojure/clojure/blob/master/src/jvm/clojure/lang/RT.java#L473-L476
It's run by the static init of RT so it's run before almost anything Clojure-related. I believe the issue is not related to nREPL.

[2018-12-14 09:35] #16 closed

[2018-12-14 10:06] cgrand opened #100 "Bindings and sessions"
# Why do we mess with bindings?

Sessions initial purpose is to remember the dynamic bindings between call to `:eval`. In a plain repl, there's no need for them because 1 connection == 1 session == 1 thread.

Since nrepl multiplexes sessions over a single connection a session id is required to demux them and route them to the repl threads.

With a 1 session == 1 thread mapping there would still be

[2018-12-14 15:04] #100 closed

[2018-12-14 15:12] bbatsov commented on #44
Btw, @cgrand I guess #101 solves this one as well, right?

[2018-12-14 15:22] cgrand commented on #44
No. It's not solved by #101 because my understanding is that it's not a repl problem -- no matter which repl. (I just tried with `clj`.)

Yes you can close it.

The problem is that you can't `set!` `*explain-out*` in `user.clj` because it's loaded very early.
If

[2018-12-14 15:31] bbatsov commented on #45
I agree.

Another option - I wonder if we should intercept attempts to start a subrepl and just return some informational message saying that's not supported for the benefit of the user? I guess that'd be relatively easy to implement and would be better than the current experience.

[2018-12-14 20:40] cgrand commented on #45
Is it that difficult for a client buffer to go in “dummy mode”? With a banner at the top and at then (if it ends). The top banner could explain that you can exit the subrepl by interrupting and that some features have been disabled. (Which ones by the way?)

[2018-12-15 08:51] cgrand commented on #45
@SevereOverfl0w so this client doesn't handle `:need-input` for example? Or what happen if the evaluation takes a long time? Also I believe things have changed on the vim side since Vimpire seems to handle lasting connections well.

In any case, from a protocol point of view, if the protocol allows for degraded experience the client can still choose to not implement it. The converse is not true: i

[2018-12-16 10:33] alexander-yakushev commented on #99
Without working with nREPL closely before, I'd say I never understood why it is so trigger-happy about turning the result values into a string. So I think the approach Rick suggests is sensible. I might perhaps think of another name for it, `:actual-value` looks a bit non-informative, maybe something like `:value-object` would do better.

Couldn't there be some non-optional "middleware" that takes

[2018-12-16 13:12] bbatsov commented on #99
Likely this wasn't always the case, as there are some historical references to `:value` and `:printed-value`. I wasn't involved with the project when it was decided to merged into one printed `:value`, but I assume this was done to simplify the lives of clients, as nothing as simple as encoding/decoding a string. The big problem with returning any EDN is that the client should also be capable of p

[2018-12-17 10:02] cgrand commented on #99
@SevereOverfl0w:

I strongly disagree. It's orthogonal to transport responsibility.

Current transport definition is already complected: why does `bencode` bundles socket transport and bencode representation together for example?

[2018-12-17 10:08] bbatsov commented on #99
I agree. Likely this was something "to be improved" that simply never happened. I know Chas envisioned non-socket transports, so it certainly makes sense in principle to have clear separations of transports and representation.

Great point.

[2018-12-17 13:30] cgrand commented on #45
I had this vague idea over the weekend: if `clojure.main/repl` (or something like that) was dynamic *and* subrepls author sticked to it to implement other repls then host repls could bind it to ease integration of subrepls.

[2018-12-17 13:44] TimoFreiberg commented on #45
I

[2018-12-17 13:46] TimoFreiberg commented on #45
Excuse the missclick

[2018-12-18 08:41] cgrand commented on #8
Now that one session = one eval thread, it's easy to switch to one session = one *repl* thread. Thus extra DynamicLClassLoaders would only be created when an eval is interrupted.

[2018-12-18 10:32] cgrand commented on #45
@TimoFreiberg:

Yeah, I checked before my previous post. Still, altering the root a builtin var is a bit too hacky to my taste.

An alternative option would be to have a lib with just one ns and one dynvar and convince subrepl authors to use it instead of `clojure.main/repl`.

Anyway I haven't fully thought through the idea of a dynvar repl function and what it would concretely bring and, more imp

[2018-12-18 20:21] bbatsov commented on #8
Let’s make this happen! :-)

On Tue, 18 Dec 2018 at 10:41, Christophe Grand <notifications@github.com>
wrote:

[2018-12-18 23:11] eccentric-j opened #108 "Question: Can the cmdline.-run functionality be broken up into smaller functions for reuse?"
# Problem

We're going to be creating a few sibling Clojure projects for work. I'm setting up a small library we can reuse that provides a suped-up-repl experience combining nREPL, REBL, Rebel-Readline, and some middleware I am confident we'll always need\want to be productive.

To achieve some of the autonomy desired, I have to implement something like the cmdline file to setup the nREPL server a

[2018-12-19 10:09] #8 closed

[2018-12-19 10:10] cgrand commented on #8
@bbatsov I committed a proper fix. Still not a long running repl.

[2018-12-19 13:18] bbatsov commented on #8
Great!

Any particular holdups to switching to a single repl per session at this
point?

On Wed, 19 Dec 2018 at 12:10, Christophe Grand <notifications@github.com>
wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2018-12-21 17:03] cgrand commented on #85
There's something about the scope of this issue which is not clear to me: what kind of issues are we trying to debug? Transport/serialization issues or applicative issues (non-conforming messages etc.)?
I believe we shouldn't try to address both of them at once.

[2018-12-22 07:41] bbatsov commented on #85
Both. :-)

Yeah, I agree with you, therefore my suggestion to split this PR in two and focus on the more common problem - the non-conforming messages.

Transport/serialization issues weren't very common in the past (mostly because everyone was using the same transport, which was pretty well-tested), but I assume that when we start rolling out new transports there might be some rough edges there, t

[2018-12-22 20:40] bbatsov commented on #108
Yeah, I think that a discussion around a PR would be a great starting point.

[2018-12-23 11:22] bbatsov opened #111 "Tests don't run cleanly on 1.10"
I've noticed a problem on the CI that doesn't happen locally for me:

[code]

More details here https://travis-ci.org/nrepl/nrepl/jobs/471561584

[2018-12-29 09:54] bbatsov commented on #111
@nrepl/nrepl @mallt Can any one of you reproduce this failure locally?

[2018-12-29 09:56] bbatsov commented on #111
Looking at the test that should be pretty easy, as it's testing an error message:

[code]

I just wonder why that's passing on my end.

[2018-12-30 08:24] #111 closed, assigned to nobody

[2018-12-30 21:14] jc776 opened #113 "Hot-loading dependencies sample doesn't work in lein"
## Expected behavior
The pomegranate [hot-loading dependencies](https://nrepl.org/nrepl/usage/misc.html) sample (for `clj`) should also work in `lein`.

## Actual behavior
The dependency gets added without error to some classloader, but isn't available to `require`. It's visible as a resource.
[code]

## Steps to reproduce the problem
Example project: https://github.com/jc776/classloaders-201, the

[2019-01-06 07:03] eccentric-j commented on #108
First cut is drafted here https://github.com/nrepl/nrepl/pull/116 please direct this conversation as you see fit :metal:

[2019-01-10 11:10] bbatsov opened #117 "Streaming values"
That's a follow-up to a conversation I had with @brandonbloom https://github.com/brandonbloom/fipp/issues/55

Generally I've never had issues with values being printed in `pr-values`, but he does raise a valid point. I wonder if we can somehow stream the values the way we do it for `out` and `err` without breaking backward compatibility.

That won't be an issue for the new rich printer, but it'd b

[2019-01-10 11:35] cgrand commented on #117
I'm afraid that streaming would not fix the issue as you just move the DoS around: you don't die of OoM any more but you saturate the connection and/or the client rendering.

[2019-01-10 14:35] cichli commented on #117
I think this was the killer feature of cider-nrepl's pretty printing (and in fact my main motivation for developing it). To me this is about [network transparency](https://en.wikipedia.org/wiki/Network_transparency) – when I'm using a REPL I just expect values to be printed incrementally, and the evaluation to be cancellable while printing is happening.

I'm working on [this branch](https://github

[2019-01-10 17:33] cgrand commented on #96
So I started working on injection based on bencode. Work lives on this branch https://github.com/nrepl/nrepl/tree/injection

Right now the `nrepl.upgrade` namespace is a deps-free namespace that will be sent to the socket repl to upgrade it.

Currently it starts a pseudo-nrepl equipped only with a light version of the sideloader. Meanwhile it tries to  eval `(require 'XXX)`. This `(require 'XXX)`

[2019-01-10 18:33] bbatsov commented on #96
Fantastic! Looks very promising!

[2019-01-10 19:51] brandonbloom commented on #117
Please re-read my comment here:
https://github.com/brandonbloom/fipp/issues/55#issuecomment-452562889

I'm not proposing adding streaming value output to nREPL. I'm not proposing changing the RPC model in any way. I'm proposing adding a maximum string length to the returned payload and enforcing that limit on any/all printers. The implementation is backwards compatible for string-returning print f

[2019-01-10 19:59] bbatsov commented on #117
I understood your suggestion, but this is essentially the same as setting `*print-length*` (as to my knowledge all print functions respect this or at least are supposed to respect it), so I don't see what we'd gain by making this some eval request param. The streaming approach would provide better UX, even if it'll kill clients who don't interrupt the printing process quickly. At least people woul

[2019-01-10 20:10] brandonbloom commented on #117
Setting `*print-length*` is not sufficient, not even in conjunction with `*print-depth*`. Consider the following with a limit of 100:

[code]

Whoops! 1 million items printed.

Or even just:

[code]

I've run in to excessive printing and OOM from nREPL in both classes of problems. When this occurs, I tend to fallback to direct evaluation in a streaming repl so that at least interrupts work correct

[2019-01-11 07:15] bbatsov commented on #117
Ah, I keep forgetting about multi-dimensional data structures. Yeah, for this kind of problems your proposed solution certain makes sense, although if we switch to a streaming model it would only serve to protect the clients as the server itself it will become "immune" to the OOM problem.

Still, it's not a big change, so it's probably worth adding this as something optional.

[2019-01-15 10:26] ivarref opened #119 "System/out should output on nREPL client"
## Expected behavior
[code]

Should print on nREPL client.

## Actual behavior
Prints on nREPL server.

## Steps to reproduce the problem
[code]

Seems issue #29 notes a similar problem.

This broke Java logging for my project, i.e. the logs were written on the server, and not the client.

[This gist solved the problem](https://gist.github.com/daviesian/4517859) for me, but I think this fix (or a

[2019-01-16 11:23] bbatsov commented on #119
Yeah, I completely agree that we should try harder to gather all output.

[2019-01-25 12:20] holyjak opened #122 "Website: Add link to API docs to the site"
I couldn't find any link to API docs at https://nrepl.org/nrepl/index.html

Perhaps it would be best in the left-side menu under "Usage":

- Usage
   - Server
   - Clients
   - Misc
   - API docs

[2019-01-26 11:00] SevereOverfl0w commented on #113
I have confirmed that the memoize example works for `clj` under java 11.

[2019-01-26 11:05] SevereOverfl0w commented on #113
Sorry, I cannot reproduce with Lein either:

[code]

The only difference I see is Windows vs Linux. But I don't see how that could break things.

[2019-01-26 11:54] bbatsov commented on #113
What about simply running `lein repl`? Perhaps it’s something related to REPL-y?

[2019-01-26 15:12] holyjak opened #124 "Using `:greeting-fn` breaks client connections (or docs on how to use it is missing)"
## Expected behavior

When I run nrepl server like this, with a `:greeting-fn`:

[code]
and try to connect to it:

[code]

then I should see the greeting message and nrepl prompt.

## Actual behavior

Instead, this happens in the client:

[code]

PS: If I change the greeting fn to a "no operation" like this: `:greeting-fn (fn [t] nil)` then the client connection works.

## Steps to reproduce the p

[2019-01-26 17:17] SevereOverfl0w commented on #113
The repro in Op uses lein run though, but worth  checking

[2019-01-26 19:53] jc776 commented on #113
If I run the commands in `lein run -m` in an empty folder, it's using Clojure 1.8.0 and does work for both libraries. I'm not sure what version of pomegranate is being used here - `lein deps :tree` says "Couldn't find project.clj, which is needed for deps".
[code]

If I use `lein run -m` in the example project in the top post, it's using Clojure 1.10 and fails as before:
[code]
Fails in the same p

[2019-01-27 07:40] SevereOverfl0w commented on #113
Admittedly I didn't try the example repo, I thought this would be independent. Okay. Will try look today.

On January 26, 2019 7:53:54 PM GMT, Jack Coady <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-01-27 14:02] cichli commented on #124
Should the `send` in the first example be `nrepl.transport/send`? If you're accidentally calling `clojure.core/send` it should throw a `ClassCastException` [here](https://github.com/nrepl/nrepl/blob/2d5a4c89d843c9941128c99d627b8c8be4974bf3/src/clojure/nrepl/server.clj#L45) but possibly something is hiding the error.

[2019-01-27 17:39] holyjak commented on #124
Update: When I use tty then it is also broken:

[code]

leads to

[code]

But if I used the provided greeting, it works:

[code]

=>

[code]

so the question is what is the crucial difference between `transport/tty-greeting` and my `(fn [t] (send t {:out "Welcome!\n=>"}))`?!

[2019-01-27 18:42] SevereOverfl0w commented on #113
I've poked at this a little longer, and we've reached the points of Clojure's internals which I don't understand. `clojure.lang.Compiler/LOADER` is bound, which utilizes a different classloader hierarchy than the context classloader.

I don't know why it is bound really. Nor do I know why this didn't work:

[code]

This could be something to do with how nrepl works perhaps, or maybe to do with how

[2019-01-27 18:48] holyjak commented on #124
Thank you, @cichli , you were right! I was by mistake calling `clojure.core/send` instead of `nrepl.transport/send`! I will look into improving the docs / code to help others not to make the same mistake.

[2019-01-27 18:48] #124 closed

[2019-01-27 18:59] holyjak opened #125 "greeting-fn does not work with the built-in client"
## Expected behavior

After starting the server:

[code]

and connecting to it with a client:

[code]

I expect to see

[code]

as a part of the initial output.

## Actual behavior

I see this in the client:

[code]

When using the `tty` transport instead of the default bencode then it works.

## Steps to reproduce the problem

See above

## Environment & Version information

### Clojure version

[2019-01-27 20:32] holyjak opened #126 "The built-in client hangs when using tty transfer"
I am sure it is me who does something wrong, but I'd like to understand what and

## Expected behavior

Starting the server with the tty transfer:

[code]

and connecting with the client using the same transfer:

[code]

I expect to see the prompt and be able to interact with it.

## Actual behavior

The client blocks, there is no output and it has to be ^C stopped. At that moment, the server prin

[2019-01-27 21:02] holyjak commented on #125
I suspect that perhaps `nrepl.cmdline/run-repl` should check the `client` response seq for pre-existing messages (namely the one sent by greeting-fn) before it starts with the `(read *in* ..` loop and print whatever is there after/instead of the standard welcome message.

[2019-01-29 11:59] bbatsov commented on #113
@cgrand Can you help with this one?

[2019-02-04 18:59] #108 closed

[2019-02-05 02:07] ehashman opened #129 "Please cut a release with clj 1.10 support/minimal dep chain"
Hi nrepl maintainers!

I'm trying to get Leiningen 2.9.0 (not yet released) packaged for the Debian Buster freeze. It has a dependency on nrepl, but the version of nrepl it depends on has a dep on bencode, which seems to have been vendored into nrepl since 0.5.3. I don't want to have to upload that separately, so I am currently testing a Leiningen build against nrepl HEAD. As well, I'm interested

[2019-02-05 12:06] bbatsov commented on #129
I’m on vacation (traveling without a computer), but @cichli will cut a new release soon. I think currently the code is in a releasable state.

Sorry about the `bencode` package back and forth - that’s on me.

[2019-02-05 16:10] bbatsov commented on #129
Roger that! I didn’t even know Debian packaged Clojure libraries. That’s pretty cool!

[2019-02-05 20:55] cichli commented on #129
I've released [0.6.0](https://github.com/nrepl/nrepl/releases/tag/0.6.0) now 🎉.

@bbatsov could you give me push rights for https://github.com/nrepl/nrepl.org so I can push the regenerated docs?

[2019-02-05 20:55] #129 closed

[2019-02-05 23:22] ehashman commented on #129
Thanks all!! My snapshot was [accepted last night](https://tracker.debian.org/news/1027615/accepted-nrepl-clojure-06020190204git176bde868-1-source-all-into-unstable-unstable/) so I'll go ahead and upgrade to the real 0.6.0 :)

[2019-02-06 02:13] bbatsov commented on #129
@cichli Done.

[2019-02-06 22:20] bbatsov commented on #129
@cichli Try now. I think I got it right this time.

[2019-02-07 11:23] cichli commented on #129
@bbatsov all good now, thanks! 🙇

[2019-02-23 00:01] bbatsov commented on #117
Fixed in #118.

[2019-02-23 00:01] #117 closed

[2019-02-23 00:13] bbatsov commented on #99
@cichli Seems we can close this one, right? I guess we’ve decided that we don’t really need to do anything about it.

[2019-02-24 16:06] RickMoynihan commented on #99
I meant to follow this up, I'd tried to do what @cichli said but had some trouble getting it to work.  I'm not sure what happened (I suspect I wired things up wrong) but IIRC it looked to me like the middleware I wasn't able to access the `*1` binding.

I suppose I'll need to try set this all up again, and maybe push it somewhere for someone to look at if I still can't get it to work.

[2019-02-25 13:49] cichli commented on #119
One question is at what time we should capture the values of `System/out` and `System/err`. Load-time? When the server starts? If other tools (e.g. log4j) also call `setOut` and `setErr` this might be important! Likewise if we `alter-var-root` either `*out*` or `*err*`. The CIDER implementation of this mutates all four every time a new client subscribes (see [here](https://github.com/clojure-emacs

[2019-02-25 13:52] cichli commented on #29
Since b65567be0c63dc13a362cce03b18f414393fc844 we no longer rely on `*msg*` to determine the response ID – instead we create new `PrintWriter`s for each evaluation which close over the value of the ID. So if you're manually conveying `*out*` to some other thread and printing to it there, the responses will now at least correspond to the evaluation that captured and conveyed the value of `*out*`.

[2019-02-25 13:52] #29 closed

[2019-02-25 20:47] eccentric-j commented on #99
Looks like this PR should fix the issue https://github.com/RickMoynihan/nrebl.middleware/pull/17.

[2019-02-25 21:32] cichli commented on #99
@RickMoynihan indeed, my comment above is incorrect on two counts. Sorry about that.

* A middleware using `:requires #{"eval"}` would not ever be invoked. You need to use `:expects` and assoc the wrapping transport.

* Since 64dafe79ca2afd1df7deba58a6f6bb25c1b92096 we only `reset!` the session atom in the `:prompt` REPL phase. You could however read `*1` directly, since the session's dynamic bind

[2019-02-25 21:32] #99 closed

[2019-02-26 15:58] mallt commented on #29
That's really great, thanks a lot @cichli!

I've checked [the related cider issue 2138](https://github.com/clojure-emacs/cider/issues/2138) with the latest cider and I confirm no more "id nil" errors are thrown. Thanks again!

[2019-03-11 19:10] shen-tian opened #132 "Intermittent test failure relating to streamed-printing and bencode."
## Expected behavior

CI tests should consistently pass or fail

## Actual behavior

CI tests are failing intermittently on different Java and Clojure versions, both on Travis and CircleCI

### Examples:

CircleCI [link](https://circleci.com/gh/nrepl/nrepl/9) Java 11, Clojure 1.10

[code]
Travis [link](https://travis-ci.org/nrepl/nrepl/jobs/504008959) Java 8, Clojure 1.10

[code]

Travis [link](ht

[2019-03-13 10:11] bbatsov commented on #132
I'll assign this to @cichli, as it seems it's related to the print streaming.

[2019-03-20 11:02] bbatsov commented on #60
We're now actively looking for a new volunteer to tackle this.

[2019-03-21 07:14] bbatsov commented on #96
@cgrand We need to wrap the sideloader PR before focusing completely on this one, right?

[2019-03-23 19:47] mikepjb commented on #60
I'm not exactly volunteering (yet) but exploring how to do this:

I can get the tests to pass without any changes to the codebase using `make test` (great!)

When introducing a new transport implemented similar to dotemacs' pull request, the first test that fails is explicit-port-argument which I can run for both transports in the REPL with:
[code]

I've included a `(clojure.pprint/pprint *server*

[2019-03-26 06:34] #60 closed

[2019-04-02 21:01] shen-tian opened #138 "Are op names keywords or strings?"
### Why does it matter

Stability and backwards compatibility is NB for nREPL. Right now, the string/keyword specification of messages is largely implied by the limitations of bencode transport. With the EDN transport (and transit one too?), we get the chance to be more exact about what messages look like. But also, we need to take some care to define a stable default behaviour.

For example, all

[2019-04-02 21:28] bbatsov commented on #138
I see 3 messages and they are exactly the same. :D

I get your point, though. I think both keywords and strings should be accepted and internally we should stick to keywords as their representation. In the responses they should be keywords IMO (if the transport can deal with keywords).

[2019-04-02 21:41] shen-tian commented on #138
As a matter of protocol definition, I like the "keyword if you can" too. Possibly for stylistic reasons.

I had a go at converting nrepl to all keywords, and it looks something like this: https://github.com/nrepl/nrepl/compare/master...shen-tian:keywordize-ops

The good thing is that the EDN/Transit transports can be entirely transparent. But this is going to cause lots of messy compatibility prob

[2019-04-03 10:04] bbatsov commented on #138
Yeah, unfortunately this has leaked to place where it should have. Op names should have been kept as symbols internally, but this didn't happen for one reason or another.

I think that'd be wiser. We just accept we're stuck with strings and are done with it.

I completely agree. We have to be consistent and we have to document all of this properly.

[2019-04-03 10:07] bbatsov commented on #122
I think this is fixed now.

[2019-04-03 10:07] #122 closed

[2019-04-03 10:10] bbatsov commented on #5
I think we can close this one. To my knowledge all old issues were triaged already. We've fixed those which seemed high priority and we'll tackle the rest down the road.

[2019-04-03 10:10] #5 closed

[2019-04-03 10:12] bbatsov commented on #17
@shen-tian You can take at this ticket as point if you want. It's somewhat related to what you've been working on recently.

[2019-04-03 11:59] shen-tian commented on #138
I can work on some documentation. Worth getting some other opinions?

[2019-04-03 12:20] bbatsov commented on #138
We can always ping @nrepl/nrepl for extra feedback. If someone responds differently we'll discuss that, if not you can move forward with the documentation.

[2019-04-04 09:09] shen-tian commented on #132
Adding more notes to this bugbear. I'm fairly sure it's this test:

https://github.com/nrepl/nrepl/blob/598467a8b6033b7c8756bfa9bf57359b0e50986a/test/clojure/nrepl/core_test.clj#L384-L395

Looking at the test, this is actually a bit of a load test for the printer/system as a whole. Typing `(range)` into a repl is not recommended.

I just this in real life (starting nrepl with clj, cider-connect wi

[2019-04-04 09:17] shen-tian commented on #17
I have a guess at what this could be, though not sure if this still happens. Think it's related to differentiating between execution errors, disconnection errors, and actual breakages in nrepl.

[2019-04-04 10:59] bbatsov commented on #138
Seems we won't be getting more feedback. :-)

[2019-04-04 18:20] arrdem commented on #138
I'd lean towards keywords only for things which are protocol specified. Keywords are for enum values IMO, not just syntactically nicer strings. As I recall, ops are dynamically defined and discovered via middleware for all there are some standard ones, so I'd personally lean towards strings for all yes it is less nice and existing clients may be more featureful.

[2019-04-06 10:01] MalloZup commented on #93
Hi @bbatsov, I would like take this in my spare time if don't mind 🦄

[2019-04-07 09:00] bbatsov commented on #93
Fine by me! :-)

On Sat, 6 Apr 2019 at 12:01, Dario Maiocchi <notifications@github.com>
wrote:

--
Best Regards,
Bozhidar Batsov

http://www.batsov.com

[2019-04-09 08:14] #138 closed

[2019-04-23 12:30] thatismatt commented on #113
I hit this same problem and did a bit of digging.

The issue appears to be rooted in the fact that pomegranate generates the classloader hierarchy in a way that (in some circumstances) isn't consistent with the way `clojure.core/load` works.

It looks like pomegranate uses the `(.. Thread currentThread getContextClassLoader)` to start the search of the classloader to modify, whereas `core/load` us

[2019-04-23 14:40] shen-tian commented on #132
Adding more notes to this, after discussion with @cichli on Slack:

- The interrupt is killing the thread with a `.stop` call. This means it's stopping half way through writing a bencode message. Without the closing delimiter, `e`, it's reading the next message (a map) in as a key.
- c99280bbf9078e5b3f96a7ec23f89ea2425b9a4e was an attempt to fix this, but most likely traded an intermittent timeout

[2019-04-23 20:27] thatismatt commented on #113
I think I've found the reason for the bug, but I'm unsure of the right fix.

The `session/session-exec` is invoked via `server/handle` which uses `future`, which uses the agent executor, which means that when `session/session-exec` invokes `(.getContextClassLoader (Thread/currentThread))` this is the `AppClassLoader`, not one of the `DynamicClassLoader`s that correspond with `(clojure.lang.RT/base

[2019-05-16 06:48] bbatsov opened #140 "Use clojure.spec to describe the request/response format"
That's something we've discussed a while ago with @shen-tian. I'm just adding the ticket here, so we won't forget about this.

As nREPL's requests and responses are just plain old maps they are perfect candidates to get some spec love.

[2019-05-16 06:55] bbatsov opened #141 "Add a generic client notification mechanism"
`cider-nrepl` features a very simple helper that allows pushing generic notifications to nREPL clients. That doesn't really change the protocol or require new middleware, so we can consider adding this to nREPL itself.

The entire code is basically:

[code]

The original implementation lives here https://github.com/clojure-emacs/cider-nrepl/blob/master/src/cider/nrepl/middleware/util/nrepl.clj

I'

[2019-05-16 07:00] bbatsov opened #142 "Integrate cider-nrepl's with-safe-transport helper"
`cider-nrepl` features a very useful helper `with-safe-transport` that eliminates the need for a lot of boilerplace error handling code in middlewares. The implementation is [here]( https://github.com/clojure-emacs/cider-nrepl/blob/master/src/cider/nrepl/middleware/util/error_handling.clj).

An example usage would be:

[code]

The wrapper makes sure that there would never be uncaught exceptions th

[2019-05-16 07:20] bbatsov opened #143 "Consider adding some mechanism for deferred/dynamic middleware loading"
## Deferred loading

Some middlewares might end up requiring a lot of code which results in a significant slowdown when booting nREPL. cider-nrepl really struggled with this in its early versions and eventually we started deferring requires in middlewares, before @vspinu came up with a way to defer loading middlewares until their first usage.

The implementation for this lives [here](https://githu

[2019-05-16 07:23] bbatsov opened #144 "Document the best practices for middleware development"
That's mostly a reminder for me to add some section in the documentation about this. (but I wouldn't mind if someone else wants to tackle this)

I've noticed that often people design middlewares in weird ways, which leads me to believe we have to documented the best practices accordingly.

[2019-05-16 07:25] bbatsov opened #145 "Create a guide for client authors"
We need a simple guide with tips and advice for nREPL client authors that spares them the pain of having to figure out what not to do on their own. :-)

[2019-05-19 21:22] blak3mill3r commented on #55
For posterity, the global config file name is `.nrepl/nrepl.edn` (not `.nrepl/config.edn`). That confused me for a moment.

[2019-05-19 22:07] bbatsov commented on #55
@blak3mill3r Yeah. The conversation here happened before we had settled on the final name.

[2019-05-21 06:39] rebcabin opened #146 ""nil" prepended to every result in org-babel (`nrepl--merge`?)"
## Expected behavior

in org-babel, I expect the following
[code]
## Actual behavior
[code]
## Steps to reproduce the problem

Make sure your emacs init.el (or other startup fixture like .spacemacs) has org-babel support for Cider and Clojure, as with the following

[code]
Make a lein new app foo so that you have a project.clj file.
Create any old .org file in the foo project directory.
Put the co

[2019-05-21 08:29] bbatsov commented on #146
That's not an nREPL issue, but an issue with how org-babel uses `nrepl-client.el` from CIDER. I think it should be raised on org-babel issue tracker, as likely it's not using CIDER's API properly.

[2019-05-21 08:29] #146 closed

[2019-05-27 05:45] bbatsov opened #147 "Can't tell apart multiple return values from a value chunk when using streaming"
This came up here https://github.com/tpope/vim-fireplace/issues/336.

Basically if you evaluate multiple expressions together you can't really tell in the response where does the first result begin and the second end. That happens because you can always have multiple value keys in a result and they are no different than complete results.

I wonder if we shouldn't add some extra key to the chunk me

[2019-05-31 15:00] bbatsov commented on #147
//cc @tpope

[2019-06-18 06:04] murtaza52 opened #148 "how to distinguish user eval ops from middleware ones ?"
Hi,

I am working on a middleware where I want to need to log any commands executed by the user.

Below is my code -

`
(defn log-commands
  [handler]
  (fn [{:keys [code] :as msg}]
    (when (and (string? code)
               (not (blank? code)))
      (hlc/log-info "hsrepl command" {:event :hsrepl-command :command code}))
    (handler msg)))

(set-descriptor! #'log-commands {:requires #{}

[2019-06-18 11:04] bbatsov commented on #148
I'm guessing the eval session is probably different for the user evaluations and those that come from the middleware, so I'd start there.

[2019-06-20 04:51] murtaza52 commented on #148
however that doesn't help me, bcoz I have no way to distinguish that an eval session of the middleware from an eval session of the user. Or is there a way ?

In the documentation, I read about the `values` slot, however I dont see the key when I print out the params passed in the middleware. Maybe that could help me distinguish between code that was sent by the user and code that was injected by t

[2019-06-21 17:13] djblue commented on #140
Is anyone actively working on this?

[2019-06-22 07:08] bbatsov commented on #140
@djblue I don't think so. @shen-tian intended to work on this, but I guess he didn't find any time.

[2019-06-25 08:18] shen-tian commented on #140
Hey. I actually had a go at this a while back:

https://github.com/shen-tian/nrepl/blob/adding-spec/src/spec/nrepl/spec.clj

Writing the spec wasn't too hard, but how and where to use it was more an open question, especially given it's not supported in the earlier clojure versions. Some ideas:

- Add as part of unit testing on Clojure 1.9 and 1.10
- Add a dev time guard
- Only as documentation?

I

[2019-07-13 21:20] plperron opened #149 "Fix broken cross references in documentation"
Some page references are broken and point back to the current page. Some of the page cross references ending with an '#' are working as expected. However, the official antora documentation urges toward using the xref macro for page cross references instead of the double angled brackets syntax `<< reference.adoc >>`.

 Examples of reference pointing back to the same page.

      - doc/modules/ROOT/

[2019-07-14 07:43] bbatsov commented on #149
Thanks for spotting and fixing this. Guess I'll have to review the CIDER documentation for this problem as well.

[2019-07-14 07:43] #149 closed

[2019-07-20 16:44] bbatsov opened #151 "Document how to embed nREPL in a Java application"
This question gets asked from to time to time, so it'd be nice if we just had the answer in the docs.

[2019-08-04 13:39] zcaudate opened #152 "nREPL server doesn't clean up threads created by 'clone'"
I found that nrepl creates a thread after every 'clone' operation. However, the thread remains even when the 'close' operation is called. I don't know how to kill it.

## Steps to reproduce the problem

Open an nrepl server in one project (tried with versions 0.6.0 and 0.7.0-alpha1), the port I've set to 51311.

On another project, run this code to connect to the server couple of times to see the

[2019-08-04 16:00] zcaudate commented on #152
the crucial thing is to call the  `(close)` function, defined here:
https://github.com/zcaudate-me/nrepl/blob/15c95cb7dba7643c0ba0e3cc5666bbe8478cf4a4/src/clojure/nrepl/middleware/session.clj#L193

the additional try/catch-loop forms: https://github.com/zcaudate-me/nrepl/commit/f2497f3ccad01c32b32a89afd1aff2f3e21665a9#diff-e28a7dd6eef2522ca6b471c473c41ea0R168-R169 is to suppress the exception:

[c

[2019-08-15 19:18] MalloZup opened #155 "Naming convention for default-middlewares"
HI!
I'm reading through the codebase, and afaik I find personally inconsistent the way we name the default middlewares. ( I might don't have all the context information however)

https://github.com/nrepl/nrepl/blob/master/src/clojure/nrepl/server.clj#L81

E.g some of them use the prefix `wrap` some not. I was thinking that perhaps we should either call them all  with the `wrap` prefix, like `wrap-

[2019-08-16 10:10] MalloZup commented on #155
If I see for example https://github.com/clojure-emacs/cider-nrepl/blob/master/src/cider/nrepl.clj#L500, we use there the `wrap-` prefix.

Imho if we agree on this convention we should:

1) rename here.
2) add perhaps a line in some documentation

For this I can send a PR. Regarding point 2 I might need some guidance where to add the doc :flower_playing_cards:

[2019-08-16 11:29] bbatsov commented on #155
I'll have to take a closer look, as I'm not really sure what was Chas's reasoning back in the day. It'd be nice if we adopted some common conventions, but we can't really rename anything as that'd be a breaking change. I always use `wrap-something` when creating middlewares.

[2019-08-16 13:52] MalloZup commented on #155
Thx. Yep I was asking me about breaking changes but I didn't know who is the consumer of that Middleware functions e. G the client also? Anyways yep make sense, we can just perhaps add comment in the default handler saying that new Middleware should use wrap and also add it somewhere in docs. 👀📡🎸🎶🎹🎹🐶😎🎷

[2019-08-18 08:12] bbatsov commented on #155
Clients don't know middleware names, but other middlewares might be depending on those, that's why changing them should be avoided.

I completely agree we should improve the docs.

[2019-08-18 09:39] MalloZup commented on #93
@bbatsov  imho this issue could have been already fixed by https://github.com/nrepl/nrepl/pull/118 which changed the behaviour. I'm currently looking at

[2019-08-18 09:47] bbatsov commented on #93
That's different - now you can specify the printer function at the request level, but in this issue I was thinking of being able to change the default on the server-level as well (when you boot the server). Not a particularly important thing, but some people might appreciate it, especially if they are using a client which doesn't support the print options.

[2019-08-18 09:49] MalloZup commented on #155
We could create a documentation page, under `hacking on nRepl` we could create `hacking on nRepl middlewares/extension` new section with a page like guidelines or something like this..  In this way we could add this guidelines

[2019-08-18 10:21] MalloZup commented on #155
addressing this partially by https://github.com/nrepl/nrepl/pull/156 ( at least in code).  The rest highlevel doc, imho we just need to add a page in `nrepl` centralized fashion

[2019-08-19 13:43] MalloZup commented on #93
@bbatsov  I have looked at it shortly, to sumarize my mental thoughts on this:

I see that we need to propagate the server config file options `.nrepl`  to the middleware print.
Normally this config is passed to  server via `cli` https://github.com/nrepl/nrepl/blob/master/src/clojure/nrepl/cmdline.clj#L433. However this are mostly server options only for server not for the printer or others middle

[2019-08-20 05:34] bbatsov commented on #155
Yeah, that has been on my todo list for a while now and I hope to do it during the Clojurists Together funding round.

I've also realized it might be a good idea to be able to create raw handlers if someone wants to change some core middleware in some weird situation.

[2019-08-25 08:05] MalloZup opened #157 "Doc: session documentation was better in version 5.3 doc version"
The documentation of the session part has downgraded quality. From a ux pov the 5.3 is much more rich of explications and détails about the session mechanism. In the latest doc the description aren't present anymore.

See https://nrepl.org/nrepl/0.5.3/design/middleware.html and compare to the new one.  The first and last paragraph of 5.3 should imho reintroduced

[2019-09-04 07:46] FreekPaans opened #158 "Confused about interrupt"
(Not sure if this is the right place to ask this question, please refer me to the right place if it's not).

I was running into some issues with interrupting evaluation from CIDER, and decided to dive into the code a bit for what's going on (great work BTW, was very readable!). There I found [this particular line](https://github.com/nrepl/nrepl/blob/master/src/clojure/nrepl/middleware/session.clj#

[2019-09-05 20:56] bbatsov commented on #158
Frankly, I've got no idea why the extra `.stop` is needed - I was under the impression that usually `.interrupt` is all you'd need. @cgrand, what's the reason to have to stop the thread after interrupting it?

[2019-09-05 21:11] FreekPaans commented on #158
I can imagine that `.stop` will be able to stop the thread in cases where `.interrupt` cannot, but at the expense of potentially corrupting the state of the process. So I guess it's a bit of a judgement call - personally I think you should only interrupt. Of course if the thread doesn't stop you can still "move over" to a new thread for evaluating new code.

[2019-09-07 10:31] #152 closed

[2019-09-11 06:30] bbatsov commented on #158
Probably you're right. I guess we can try switching to just using `.interrupt`. @nrepl/nrepl any thoughts on the subject?

[2019-09-20 09:31] bbatsov commented on #140
This seems like a good idea to me, but I'm open to using the specs during development as well.

[2019-09-22 20:49] shen-tian commented on #132
I'm very sure this is a bug now. It was introduced in adb1c1427f47a7398e28275bbb0ac5a36d58ae04.

The test commented out by #160 demonstrates this.:

- It will reliably fail on my local machine with `:nrepl.middleware.print/buffer-size` set to 100000 (from the default of 1024).
- removing `.stop` from this line https://github.com/nrepl/nrepl/blob/cdd688f22e65580e9b52d9a8def9ad42a530914a/src/clojure

[2019-09-22 21:18] shen-tian commented on #158
After [looking around a bit](https://stackoverflow.com/questions/20527893/java-thread-stop-vs-thread-interrupt/20528033), this doesn't actually stop the thread. It only works for threads that uses `Thread.interrupted()` to control their own termination.

The TL:DR; of this is there's no reliable AND safe way to stop a tread without the thread's cooperation. Given nREPL's dev tool nature, it's prob

[2019-09-22 21:31] shen-tian commented on #147
Might be missing something... but don't you just recombine the streamed results, and check for the first/second/nth complete form?

The difference between the expected and actual is a client side issue.

[2019-09-23 05:30] tpope commented on #147
Does checking for a complete form imply parsing it?

[2019-09-23 05:50] bbatsov commented on #147
Did you notice that the problem is actually evaluation two separate forms, not just one? The real problem is that it's not very obvious where the first result ended and the second started. The only way to tell those two apart right now is by checking for this extra message at the end of each stream value:

[code]

[2019-09-23 06:43] bbatsov commented on #158
Btw, from the link you've posted it seems that `interrupt` does nothing except set a flag that the thread is supposed to honour and interrupt itself, so I do wonder if does anything for us. Java concurrency is hard... :D

[2019-09-23 08:18] FreekPaans commented on #158
Yeah, fortunately a lot of APIs respect the interrupt flag.

Yes it would, though ideally it would optionally `.stop` it - in some case I'd rather have the thread blocked (with nrepl using a new one), then have it stopped with `.stop` and messing up some shared state.

I'm not too familiar with Java script locking, but any monitors bound to the thread will be released, as far as I can tell. I can

[2019-09-23 08:52] shen-tian commented on #147
Oh right. To pick a corner case, if we do streamed printing with buffer size 1, then both `1 2` and `12` yields two messages, with values of `1` and `2`?

What I was saying is that If the eval result of the separate forms are collections, then the parens should help in identifying which is which.

[2019-09-24 09:28] #140 closed

[2019-10-07 09:52] #97 closed

[2019-10-07 14:45] jmingtan commented on #151
Hi, I'd like to work on this issue, if no one is already working on it!

To that end, I've created an example project with how I think nrepl can be embedded in Java: https://github.com/jmingtan/nrepl-java-example. If this looks sound, I'll start updating the documentation and PR.

If you think the example project might be useful I'll link to it as well.

[2019-10-07 18:19] bbatsov commented on #151
Happy to hear this!

Yep, that's the right approach. One thing you can potentially add is adding some extra middleware to the server, but that's not essential.

I think it's useful. Potentially we can have it in the nREPL org for posterity's sake.

[2019-10-10 16:51] jmingtan commented on #151
Great idea, I will work on your suggestion and in the meantime I'll transfer the repository as well.

[2019-10-11 07:44] bbatsov commented on #151
I've just invited you to the GitHub org. Once you accept the invite you'll be able to transfer the repo.

[2019-10-11 11:25] #158 closed

[2019-10-11 13:29] #132 closed

[2019-10-14 08:18] cursive-ide opened #167 "Allow suppressing ack message when using nrepl.cmdline."
When using the `--ack` option to `nrepl.cmdline`, it currently prints a message:
[code]
In the case of Cursive, and probably for other tooling, the two ports will almost certainly be arbitrary and the message is mostly useless to users. It would be nice to be able to hide this.

[2019-10-17 03:02] #167 closed

[2019-10-18 12:52] shen-tian commented on #126
Can confirm that this hangs:

`clj -Sdeps '{:deps {nrepl {:mvn/version "0.6.0"}}}' -m nrepl.cmdline --transport nrepl.transport/tty --interactive`

So this has been broken for a while now.

Looking at the changelog, the `--transport` flag was only fixed in `0.6.0`, so not sure there was ever a command line version of this that worked.

Gonna do some digging on when/how this last worked, but suspec

[2019-10-19 15:46] bbatsov commented on #126
I think your suggestion is quite reasonable. It's quite unlikely someone will want to use a `tty` server with the default client.

[2019-11-06 04:05] cursive-ide opened #171 "Specified namespace is incorrectly returned in response when eval'ing in non-default namespace"
When `eval`ing forms in a non-default namespace, the selected namespace is incorrectly returned as part of the `:value` message, leading Cursive to believe that `*ns*` has changed. Here's a sample transcript:

Here I eval `*ns*` by typing it into the REPL, so no `:ns` is sent. The current REPL ns is indeed `user`.

[code]

[code]

Here I send a form `(foo)` from a file open in an editor containing

[2019-11-06 17:34] shen-tian commented on #151
This is closed?

[2019-11-06 17:49] shen-tian commented on #171
Is your expected behaviour that `*ns*` should be `dev.scratch` in the last response?

Looking at what docs are around, it is a bit ambiguous what `:ns` in response means, but as far as I can tell, it's the last value of `*ns*` after eval **but before restoring** the ns to the original. Guess this should be same as provided `:ns`, unless part of eval also changes the namespace.

Looking at the sour

[2019-11-06 17:50] shen-tian commented on #155
What do you mean by raw handlers?

[2019-11-06 17:55] shen-tian commented on #148
Thinking about this a bit more, I'm not sure this is something nrepl itself can deal with, as the middlewares are, and should be, relatively ignorant of what happens before/after them.

For your use case, can you modify message client side? That would be probably the best place to tag messages as `sent-by-a-human`, which your own middleware can use?

[2019-11-06 18:17] shen-tian commented on #147
I just experimented a bit around this, by setting `nrepl.middleware.print/buffer-size` to 1, as per my previous comment, in Cider. Turns out streamed printing won't break `12` into `1` and `2`, so you can tell the difference between `1 2` and `12`.

Things streamed printing won't chunk:

- numbers
- symbols
- keywords

Things streamed printing will chunk:

- strings

From the client's perspective,

[2019-11-06 18:58] tpope commented on #147
This assumes the client has a full EDN parser at its disposal. Is that a requirement? I was under the impression that it was not a requirement.

[2019-11-06 19:05] tpope commented on #147
Also, if the client has a full parser, why bother with pretty printing at all? It can also be done client side.

[2019-11-06 20:27] cursive-ide commented on #171
No, my expected behaviour is either that the value returned in the `:ns` field on the evaluation result of `(foo)` should be the actual current REPL namespace, i.e. `user`, or it should be absent if the command didn't actually affect `*ns*`.

Currently Cursive assumes that whatever comes back in a response message is the current ns, and that always used to work correctly. I don't know if this case

[2019-11-07 04:33] SevereOverfl0w commented on #147
It might even require a full clojure parser to be available.

[2019-11-07 06:42] shen-tian commented on #147
@tpope : think this requires some parsing, but naively, it looks like it's mostly paren matching? Can you clarify a few things:

1. Is this a "can't tell apart" or "need to parse to tell apart" issue? I thought it was the former, but latest experiment seems to suggest the later.
2. Could you share the use case in question?  Presumably, you'd always need some parsing ability around the reconstructe

[2019-11-07 06:44] shen-tian commented on #171
Would be handy if you can check in which version this behaviour changed?

[2019-11-07 16:40] tpope commented on #147
This context for my stakes in this issue is https://github.com/tpope/vim-fireplace/issues/336, wherein @bbatsov suggests I enable streaming in Fireplace and I point out that introduces a bug.

It needs to be smarter than that because parentheses can appear inside strings among other things. Perhaps a "complete" parser isn't needed but I do appear to need a substantial subset of one.

I can tell ap

[2019-11-07 18:05] shen-tian commented on #147
Thanks @tpope. That makes perfect sense.

Having had a quick look, the last line here sends that last message

https://github.com/nrepl/nrepl/blob/f189b4c07579f8b6752f2e385e52c3680c2e1d60/src/clojure/nrepl/middleware/print.clj#L122-L136

I'll need to test a bit, but looks like a message of some sort is guaranteed at the end. It would be nice to make it explicit though. What should we send? Maybe a

[2019-11-07 22:10] cursive-ide commented on #171
Yes, I spent some time yesterday digging through the code, and I can't see any way that previous versions of the code would have worked as I recall them working. I'm going to write a small project to try to reproduce it and I'll try it with various versions to see what happens.

[2019-11-12 20:09] #157 closed

[2019-11-18 07:23] shen-tian commented on #171
@cursive-ide : any luck reproducing this?

[2019-11-18 21:48] cursive-ide commented on #171
@shen-tian No sorry, I got distracted with other things. I'll try to repro this today.

[2019-12-01 03:13] cmf commented on #171
Ok, so I must have been deluded with this, I've tested this back to org.clojure/tools.nrepl 0.2.12 and none of the versions behave as I remembered. It's very strange because I'm sure Cursive's behaviour has changed (and other users have noticed this too, and filed issues). However I have no plausible explanation for _how_ it used to work. Cursive has always just taken any `:ns` field from the repl

[2019-12-01 08:02] bbatsov commented on #171
Sorry for the radio silence here. If I recall correctly the responses were supposed to track the current ns (`*ns*`). If we just echo back the ns of the request that's not that useful IMO. I think last time I thought about this was at least 5 years ago. :D

My memory of this is more or less the same, but I'll have to look into the code as well, and also see how I did the ns tracking in the REPL bu

[2019-12-01 08:49] cmf commented on #171
I'd be very interested to know what CIDER does to track this. I'll check older versions of Cursive to double check my memory of the behaviour there, but I'm 99.9% sure of it.

I agree that sending `*ns*` back is not very useful when it's just the `:ns` that's passed in the message. Currently as far as I can tell it's actually impossible to affect `*ns*` from a message like this, presumably because

[2019-12-01 20:27] shen-tian commented on #171
Just try `eval` on `(in-ns 'another.ns)`, and you'll get that ns back in the `:ns` slot:

[code]

[2019-12-01 20:32] cmf commented on #171
@shen-tian Right, but if you send another evaluation after that evaluating `*ns*`, you'll get back whatever it was previously. The `(in-ns 'another.ns)` doesn't actually do anything at all - I believe this is because it affects the `*ns*` value which is temporarily bound when `:ns` is passed in the request (see my example [here](#issuecomment-560046372)).

[2019-12-01 20:33] shen-tian commented on #171
Sorry, deleted that message there because I realised it was missing the point.

[2019-12-01 20:35] shen-tian commented on #171
But as far as I can tell the return `:ns` value is just there so the client knows, during the course of the eval,  *ns* was changed, so it can update what the client's eval ns is? It's not there to confirm any persistent server side change.

The design asks the client to keep track of current ns. The server doesn't maintain memory of it.

[2019-12-01 20:40] cmf commented on #171
Well, the server does maintain memory of it, in `*ns*` - that's the source of truth for "the current namespace". And clients like CIDER and Cursive do have to track that, e.g. so that they can use the right namespace for autocompletion etc, and also show the user which namespace they're currently working in. While that's possible with the current nREPL protocol making the assumptions discussed abo

[2019-12-01 20:53] shen-tian commented on #171
Agreed on the behaviour not being obvious. File under "need better documentation"?

[2019-12-01 21:00] cmf commented on #171
I'd file under ''need better behaviour" and then document that :-)

[2019-12-01 21:02] shen-tian commented on #171
Better behaviour would constitute a breaking change though?

[2019-12-01 21:06] cmf commented on #171
Possibly, but it seems very unlikely that clients are relying on the current behaviour. But right, if they are required to use hacks to make things work, changing how this works might break those.

[2019-12-02 06:58] shen-tian commented on #171
Just to check, I do think the current design is consistent in what it's trying to do:

- There are no ways to persistently change `*ns*` server side. But this really isn't an objective in and of itself.
- The server keeps the client updated about the effect of eval'd code on namespaces. If it doesn't the client can't know that if `foo` is eval'd after `(ns 'test2)`, the user meant `test2/foo`.
- T

[2019-12-02 07:23] cmf commented on #171
* The client does have a way to change `*ns*` - they eval `in-ns` or something that desugars to it like `ns`.
* Currently, the server doesn't keep the client updated correctly in the case where the client sends `:ns` in the request, since `in-ns` and friends don't actually affect `*ns*` in the way that nREPL reports.
* My understanding is that `*ns*` should not be sent on every evaluation, only wh

[2019-12-02 19:04] bbatsov commented on #171
Btw, I checked how we do things in CIDER - basically we send the current ns everywhere and the REPL buffer sets as the current `ns` whatever it got from the last eval response that originated from it. Changing the response semantics won't break CIDER, and probably it won't break other clients either, but I guess first we should decide what's the optimal return value here - do we always return the

[2019-12-27 20:28] technomancy opened #174 "out-of-the-box completion"
It's rather silly that completion doesn't work out of the box when you run `lein repl`. I'm interested in fixing this problem, but there are two different possible approaches, and I'd like some input about which one is preferable from the perspective of the nrepl reference implementation. We already support completion for non-nrepl sessions, so the `clojure-complete` library is already present.

*

[2019-12-28 19:01] bbatsov commented on #174
I've also been thinking that it makes sense to promote `complete` to a built-in op, but we'll have to reimplement the completion functionality internally in order to comply with our 0 runtime deps policy. This will probably limit the middleware to some relatively basic default functionality, as it doesn't make sense to re-implement something as complex and full-featured as `compliment`. Probably t

[2019-12-28 19:04] bbatsov commented on #174
Btw, same reasoning probably applies to `var-info` (which deserves a better name e.g. `describe-symbol` or something like this) - like completion it's a pretty fundament operation that is probably going to be useful in many environments for things like definition lookup. Or perhaps definition lookup should be some basic op. Haven't had much time to think about this lately.

[2019-12-29 00:32] arichiardi commented on #174
Completion could be pretty basic indeed especially on the Clojure side. I like the idea.

[2019-12-29 09:51] bbatsov commented on #174
I see that the `clojure-complete` code is just 100 lines and it was actually copied from `swank-clojure`, so I guess copying it to nREPL and tweaking it a bit would be a reasonable solution.

[2019-12-29 18:09] technomancy commented on #174
Great; thanks. Even if the out-of-the-box completion only worked on Clojure vars and not Java classes, it would be an improvement.

One other request: if this becomes part of nrepl itself, it would be nice if it could be documented as some kind of optional standardized extension to the nrepl protocol so that if clients implement it, they can also get the same functionality on other servers.

[2020-01-07 15:48] FiV0 commented on #113
I was just wondering what the status on this is. This is also blocking the [add-lib](https://insideclojure.org/2018/05/04/add-lib/) feature from tools.deps.alpha. Maybe somebody more classpath knowledgeable can chime in to say if @thatismatt's solution is "correct" or if there is a cleaner approach. More than happy to help. Thanks

[2020-01-15 23:53] twashing opened #176 "Howto connect to an NREPL running in Docker"
I asked [this question](https://stackoverflow.com/questions/59761121/howto-connect-to-nrepl-in-docker-container) in StackOverflow. But maybe there's something basic I'm missing?

I have a simple NRepl server running in a docker container. But I can't connect to that NRepl process.

My `docker-compose.yml` looks something like this.
[code]

But I consistently get an error when trying to connect fro

[2020-01-16 00:25] darwin commented on #176
Have your tried to run the container using [host network](https://docs.docker.com/network/host/) directly? In docker-compose you should use `network_mode: "host"` under `foo` key.

I wonder if something like this is going on: https://stackoverflow.com/a/43528819/84283

[2020-01-16 02:11] twashing commented on #176
@darwin Apologies, it looks like the process was dying not too long after it launched. When my code tries to do A), the error in B) pops up. And this is only happening when running in docker. Launching an nrepl server works on my host machine.

I tried and failed to troubleshoot with my attempts in C). So I'm not sure how to get around this problem.

A)
[code]

B)
[code]

C)
[code]

[2020-01-16 12:17] darwin commented on #176
It would be great if you could produce a minimal repro dockerfile. I would try it here on my macOS or Ubuntu system.

In general I can just say that calling `nrepl.server/start-server`[1] inside docker always worked for me. But I never tried to connect to it from host machine.

[1] https://github.com/binaryage/dirac/blob/master/test/src/test_lib/dirac/test_lib/nrepl_server_helpers.clj#L26

[2020-01-16 19:52] twashing commented on #176
@darwin Ok this helps. Because I created a micro project, which you can unzip and run with `docker-compose up`. And with project `foo` I can connect to it from host machine.

So there's some voodoo in my real project that's stopping stuff. Sigh :)
[foo.zip](https://github.com/nrepl/nrepl/files/4073469/foo.zip)

[2020-01-16 22:18] darwin commented on #176
Ok, good, you are getting closer. But I don't have to test it until you have a minimal reproducible case.

[2020-01-17 19:02] twashing commented on #176
Correct. I got it working. There was something weird going on with the routing tables between my host and docker. Everything's good now.

Thanks for looking into it.

[2020-01-17 19:02] #176 closed

[2020-01-17 19:57] seancorfield commented on #113
I would think reaching into `clojure.lang.RT` for the `baseLoader` was implementation details that you shouldn't rely on. What we do at work is these two lines:
[code]
That's in our utility to start REBL with a Socket REPL (by default REBL also has no DCL).

[2020-03-08 10:35] bbatsov commented on #174
Yeah, absolutely. There's one thing that we need to agree on before moving to the implementation - the op name and the params. Probably it'd be a good idea to avoid reusing the name used by `cider-nrepl` to avoid breakages. On the other hand `complete` is a great op name. Any ideas/suggestions?

As for the supported params - probably they should be the same that `complete` currently takes, even if

[2020-03-08 15:24] technomancy commented on #174
I think that while `complete` is a good name for the command, it's not a good name for the nrepl op, because it's imperative. Either `completions-for` or `completions` would be better since you're querying for a piece of data.

[2020-03-16 11:15] bbatsov commented on #174
FYI - I've started working on this, but it's going to take me a while to adapt the code from `clojure-complete`, as it just returns a sequence of candidates as string, and we should ideally return the candidates as maps with some metadata (e.g. their type - function, macro, special, etc).

[2020-03-29 11:56] bbatsov opened #180 "Built-in info op"
That's a similar ticket to #174. It'd be great if we had a built-in op similar to `cide-nrepl`'s `info` that resolves symbols and return the important metadata for them (e.g. their type, docstring, arglists, definition location). Orchard's info logic is quite complex and covers all sorts of tricky cases, so we don't really need to replicate all of it, but we can at least cover the basics (e.g. inf

[2020-03-29 11:56] bbatsov commented on #151
Indeed. Thanks for the reminder!

[2020-03-29 11:56] #151 closed

[2020-04-05 10:02] bbatsov opened #181 "Extend the "describe" op with some extra runtime information"
**Is your feature request related to a problem? Please describe.**

Today it's hard to tell what's the runtime of the server you're connecting to (e.g. Clojure, ClojureScript, ClojureCLR, babashka, or some non-Clojure language like Racket, fennel, etc.).

One practical problem is that client often implement some functionality in terms of evaluating runtime-specific code, which often means that one

[2020-04-05 10:09] borkdude commented on #181
In the case of babashka, should the runtime be `"clojure"` or "babashka"? Babashka mimics JVM Clojure as close as possible, but some things aren't supported like `defprotocol`. I'm not sure what to put as the nREPL protocol version. I just use bencode and reverse engineered what was necessary to make CIDER's `cider-connect` and `lein repl :connect` work.

[code]

[2020-04-05 20:24] technomancy commented on #181
I like this idea, except I really don't think "protocol-version" should be included at this point.

Conflating the protocol with the reference implementation is a very bad idea. If we come up with an independent document describing the protocol on its own and version that separately, then it could make sense to include this in the description, but I'm not aware of any such thing at this time.

[2020-04-11 05:00] bbatsov commented on #155
@shen-tian Good question! Now I can't remember what I meant myself. 😆

[2020-04-11 13:49] bbatsov commented on #174
Small update - I already have a version of the middleware running locally and I hope to submit the code in the next several days.

[2020-04-11 13:50] bbatsov commented on #180
Mostly a note to myself - I've decided to name the op "lookup".

[2020-04-19 08:41] defclass opened #182 "Throw Invalid token when read ::auto/resolved keyword."
## Expected behavior

should read ::auto/resolved keyword in tty transport.

## Actual behavior

Will throw  java.lang.RuntimeException: Invalid token on server side.

## Steps to reproduce the problem

Strart nrepl server with using tty.

[code]

repl (`nc 127.0.0.1 31416`)

[code]

The server will throw a  "java.lang.RuntimeException: Invalid token" caused by  `clojure.core/read` in https://gith

[2020-04-19 08:44] bbatsov commented on #182
Thanks for the great issue report. @shen-tian Would you mind taking a look into this one?

[2020-04-20 14:44] Olical opened #183 "`need-input` only works in a fresh session created after connection"
## Expected behavior

When `(read-line)` is evaluated a message is sent to the client with a status of `need-input` that they can respond to with the `stdin` operation.

## Actual behavior

An error is displayed unless you created that session during that current socket connection to the nREPL server. If you reconnect and reuse the session it will error.

[code]

## Steps to reproduce the problem

[2020-04-20 15:03] Olical commented on #183
I think this is because sessions are bound to a transport upon connection. If I'm right it could lead to these potential solutions:

 * Don't bind sessions to transports, use the transport it's responding to at all times. So different clients using the same session won't step on each other.
 * Have multiple transports (I think a transport ends up being a client connection?) and have a session send

[2020-04-27 16:07] shen-tian commented on #182
Can reproduce and explain the bug. A simpler error could be just to type `::abc` instead of `::io/abc`. We should expect `:foo/abc`, but get `:user/abc` in my case. Not too sure how to fix though:

https://github.com/nrepl/nrepl/blob/f97a23370ecebc976498b25da46cb69918b88b0b/src/clojure/nrepl/transport.clj#L147-L179

- Line 159 uses `read` to grab the next valid expression. This will auto resolve n

[2020-04-28 07:38] bbatsov commented on #182
Great research!

Probably this has always been the case, but back then namespaced keywords didn't exist if I recall correctly.

I definitely didn't expect this to be so tricky. It'd be nice if we found so way to use the right `ns` instead of jumping hoops around `read`.

[2020-05-02 16:04] #174 closed

[2020-05-05 17:39] lennartbuit opened #186 "Allow configuring an initial namespace for clients connecting to an nREPL server."
**Is your feature request related to a problem? Please describe.**

When setting up an nREPL server, you cannot configure an initial ns clients drop into when connecting. Clients connecting will always drop into the 'user' ns. Our applications don't have anything useful in `user`, so I like to drop into a namespace that does have useful maintenance tools.

**Describe the solution you'd like**

Dis

[2020-05-06 10:23] shen-tian commented on #186
Just to add some notes (from clojurians) to this issue:

lein can do this through a custom middleware when it starts a server:

https://github.com/technomancy/leiningen/blob/145ba54eb0a5fc099380ad6feb04688a2fca9173/src/leiningen/repl.clj#L147-L167

but this is not relevant when it connects as a client.

Having a quick look, the default `user` ns is set in the `session` middleware. I assume we'd wa

[2020-05-06 10:30] bbatsov commented on #186
I was thinking that we can provide some `:initial-ns` config option in `nrepl.edn`, which should be pretty straight-forward. If we want clients to be able to set the initial-ns, it seems to me the natural thing to do would be to add this as an option to `clone`.

[2020-05-06 11:26] shen-tian commented on #186
Thinking about what the client-side change would need to be.

Having a look at the source for lein now... looks like the change would need to happen there and in repl-y. So quite involved. @bbatsov: you've taken over maintenance for repl-y, right?

If we are going to do that, are there other client-side features we'd like to support in a similar vein to this?

[2020-05-06 12:33] bbatsov commented on #186
Now the only optional param for `clone` is the session id to clone, afterwards you'd also be able to specify some namespace.

Yeah. Unfortunately I haven't done much on that front, but I dream big - e.g. supporting sideloading through some directive in the REPL, implementing the new pretty-printing features on nREPL, the new code completion, upgrading to the latest JLine... I don't think any of th

[2020-05-11 18:00] #143 closed

[2020-05-12 18:01] #125 closed

[2020-05-12 18:01] #126 closed

[2020-05-12 18:33] shen-tian commented on #93
Been thinking about this one, along with #186, in both cases, we'd like to configure a first party middleware using the same mechanism(s) we use for the nREPL server itself. It would be good to think through some mechanisms for solving this class of problems:

- We can often set these options on a per-message level. In case of the print-fn, it's specifying a `:nrepl.middleware.print/printer` to th

[2020-05-12 19:00] shen-tian commented on #183
In general, sessions aren't bound to a transport, and sessions can be shared/reused.

However, the current implementation of `add-stdin` and `session` does bind each session's input queue to the transport that was used to create the session. It might be possible to re-bind this in each message to the transport on which the message was received on?

This probably qualifies as a re-write/replacement

[2020-05-13 07:09] bbatsov commented on #155
I'm assuming I meant creating some custom handler that doesn't include all of `default-middleware`. Probably I meant we need to document how this can be done.

[2020-05-13 07:15] bbatsov commented on #93
Btw, I think this ticket precedes the current design of the `print` middleware, where it's able to specify a print function via a dynamic variable, so at least now it's not as bad as before. This also means that if we do this at the config level it's probably better to just update the default function on boot, instead of adding a middleware inserting some params to messages.

And to avoid conflict

[2020-05-13 11:37] Olical commented on #183
Ah that sounds rough, thanks for the explanation though!

My nREPL + CIDER client reuses existing session on connection instead of creating a fresh one, it also allows you to traverse sessions easily. This means you can disconnect from a shadow-cljs session, reopen your editor and drop right back into the configured session.

If I created a fresh session each time this wouldn't be an issue but tha

[2020-05-13 17:54] MalloZup commented on #155
yes afaik this issue was just about the naming of default middleware and their related prefix which are not consistent, afaik and some doc about it. nothing really urgent

[2020-05-14 10:11] shen-tian commented on #93
Ah ha. History makes sense.

Thoughts on having middleware depend on `nrepl.config`? any foreseeable problems with that?

[2020-05-16 15:25] shen-tian commented on #113
I've just had a look at this issue on master, and it still stands: (I'm using `lein install` to make 0.8.0-SNAPSHOT available locally, and adding it to my `.lein/profile.clj`. In summary:

- Hotloading works outside of a project.
- Hotloading breaks inside a project, using the linked to repo as the test case.
- It does appear that the baseloader and ContextClassLoader (ctxcl) don't have a shared D

[2020-05-17 09:01] bbatsov commented on #113
Let's go with the fix and see how it goes during the testing of nREPL 0.8. I'll probably cut some alpha in a week or two and ship it to my unfortunate CIDER users who are using MELPA. :-)

[2020-05-17 10:43] shen-tian commented on #113
Cool. Will open a PR in a moment. I'd like to try understand this issue a bit more for myself, but feeling reasonably OK about the fix.

[2020-05-17 14:08] #113 closed

[2020-05-17 17:25] shen-tian commented on #17
Finally had a dig into this one. I can replicate some behaviour (sending unencodable values, e.g. `(Object.)` in a message seem to cause a stall. This is not unique to the `:value` slot, though I think depending on where in the middleware stack this was done, `print` would have stringyfied any unencodable values in the `:value` slot. This is caused by how `bencode/write-bencode` works: it's recurs

[2020-05-21 19:38] shen-tian commented on #147
I've had a proper look at this, and I think having a key indicate the end of a stream is a good, non-intrusive solution. How the streamed printer works, right now, is

- for each key to be printed..
  - stream-print the value under that key...
- send a message with everything that's not printed.

In `interruptible-eval`, the print message is always accompanied by the `:ns` key, thus this "everythi

[2020-05-21 20:02] tpope commented on #147
If my recollection is correct, for this to be backwards compatible, we would need to flag the messages that *aren't* end of stream, as the old default was that every message was a complete value. Something like `{:status {:nrepl.middleware.print/partial}}` would work.

I lean slightly towards the use of the `:status` key as well but no strong preference. Unless you wanted to include *both*, then `

[2020-05-21 20:30] shen-tian commented on #147
Had to think for a moment what the `partial` flag would do, but it sounds like it would allow the client to detect that it's receiving streamed messages (or not), and act accordingly.

I'd assumed the client would know whether to expect streamed messages or not, since it would have would have specified the stream option in the first place.

My main concern is that this would make the message quite

[2020-05-22 07:17] kolharsam commented on #144
@bbatsov can I help with this? I did check the nrepl website and there was no explicit section with details about this.

[2020-05-22 07:48] bbatsov commented on #144
Sure!

[2020-05-22 07:52] #17 closed

[2020-05-22 08:02] kolharsam commented on #144
@bbatsov how do I get started?

[2020-05-22 08:24] bbatsov commented on #144
I've just committed some basic outline of the page that you can work with. I'm thinking we should walk people over the creation of some simple middleware and cover suggestions for the code structure, error handling, writing tests, request/response format, middleware descriptors, interaction between different middlewares, and so on.

[2020-05-22 11:33] shen-tian commented on #144
@bbatsov: do you have any notes on what are the important bits are under each topic?

I've been looking at how we test middleware. As it stands, `core_test` does a lot of heavy lifting, and it's all in the form of integration tests.

I tried to refactor out some of these tests into single-middleware unit tests, and it's looking promising:

https://github.com/shen-tian/nrepl/blob/print-tests/test/c

[2020-05-22 11:42] bbatsov commented on #144
Love it! I've long meant to do something like this myself, as I hate convoluted tests.

No real notes, just ideas in my head:

* showing how to interact with middleware like `session`
* making sure you're returning some meaningful statuses to clients
* separating the business logic out of the middleware, so it's easier to test it and you'd have only a few integration tests for the middleware
* nam

[2020-05-22 11:44] kolharsam commented on #144
@bbatsov cool! On the [docs](https://nrepl.org/nrepl/0.7.0/design/middleware.html) you've mentioned that all default functionality exposed by nrepl is through middleware. So why don't we go over one of the simpler ones and have described along the pointers that you've given above?

[2020-05-22 11:53] bbatsov commented on #144
Yeah, that's an option. I think the print middleware is also quite interesting, as it just modifies the behavior of `eval` (and related). I was thinking another good example might be some "benchmark" middleware which just tracks how much it took to complete a request and adds that to the response. That's actually a somewhat useful idea for improving nREPL itself. :-)

[2020-05-22 12:03] kolharsam commented on #144
The "benchmark" middleware seems like a useful idea. Could that just be a part of the `print` middleware?

It definitely seems like an interesting problem to be working on.

[2020-05-22 12:37] #155 closed

[2020-05-22 12:39] bbatsov commented on #155
See https://nrepl.org/nrepl/building_middleware.html#_naming_conventions

[2020-05-23 08:40] bbatsov commented on #147
I think it's tricky to get this to play well with the old behaviour, that's why the default behaviour never changed and clients have to request the streaming. We anticipated this was going to require some extra work on the side of clients. But we should also be careful not to introduce breaking changes to the streaming behaviour today.

Yeah, that's what I meant earlier. Still, adding a flag like

[2020-05-24 16:48] #180 closed

[2020-06-02 06:46] bbatsov opened #195 "Add some CI check ensuring that op.adoc is in sync with the middleware descriptors"
People often don't realize this file is auto-generated and edit it manually (or forget to regen the file with `lein docs` after making changes to the middleware descriptors).

It'd be nice if we checked in the CI whether the file is in sync with the code.

[2020-06-02 08:48] bbatsov commented on #181
I finally started working on this today, so I'll have some update soon. Now I'm leaning towards adding a `runtime` and `name/server` (short for "implementation/server name") key at the top-level of the `describe` map. Servers will still put their relevant versions in the versions map, but clients would know what to look for based on the `runtime`/`server` keys (e.g. if runtime is clojure/babashka

[2020-06-02 08:50] bbatsov commented on #181
Btw, I guess for babashka the runtime can easily be clojure as well, given how highly compatible they are. That's not a big deal in the end of the day I think.

[2020-06-02 09:03] borkdude commented on #181
Having a separate version / java from version / babashka doesn't make sense, since you cannot have different Java/GraalVM versions with the same babashka version, i.e it's a derived property. From 0.1.0 on babashka is compiled with GraalVM java11 (right now GraalVM version 20.1.0).

I think the field "name" could have a more descriptive name. What is this going to be used for? In the case of babas

[2020-06-02 09:07] bbatsov commented on #181
Got it. Well, one less version then.

For most runtimes there's just one server currently, so potentially we can skip this. There's no guarantee there won't be more servers down the road, but there's also no real need for premature optimization at this point.

Fine by me.

[2020-06-02 09:09] bbatsov commented on #181
Btw, doesn't your nREPL server have different versioning from `babashka` - I guess it still might be nice to include its version so that clients could display it.

[2020-06-02 09:11] borkdude commented on #181
@bbatsov True that. We could add `:babashka.nrepl "0.0.4"` to versions?
https://github.com/babashka/babashka.nrepl/blob/c3bfaff12c84d269e0d1c6110c290d5c5a08e002/project.clj#L1

[2020-06-02 09:13] bbatsov commented on #181
We have a deal! 🤝

[2020-06-02 09:23] borkdude commented on #181
@bbatsov There are other projects that use babashka.nrepl as their nREPL server. Their runtime, like babashka, is based on the sci interpreter. I made a proposal here for these projects:

https://github.com/babashka/babashka.nrepl/issues/17

Is this information going to be used by CIDER? Would it be useful to have one common key so CIDER doesn't have to add cases for each new sci-based project? It

[2020-06-02 09:30] bbatsov commented on #181
Yeah, it will be. The plan is to have CIDER support better non-Clojure nREPL servers See https://github.com/clojure-emacs/cider/issues/2848 for more details. As an immediate step for babashka I wanted to make some changes that would eliminate the warnings they are getting from CIDER today. Unlike a language like Fennel it doesn't really require much internal changes, as most of the Clojure code th

[2020-06-02 09:33] borkdude commented on #181
@bbatsov If that's the goal, maybe for runtime it's better to use namespaced keys, so the project can describe it's some flavor of Clojure?

[code]

[code]

[code]

So then CIDER knows by the namespace of the key that it can use `require`?

[2020-06-02 09:34] plexus commented on #181
I've been following this conversation with some trepidation, as it reminds me of how the web has struggled to improve because of everyone doing user agent checks. Instead of checking for implementation/version it would be more robust and forward thinking to announce and check for specific capabilities...

[2020-06-02 09:38] borkdude commented on #181
@plexus Good point. That's exactly why I have avoided communicating a pod version in babashka.pods but so far have only communicated capabilities using the `:ops`  op which is also part of nREPL.

Stating a `:language "clojure"` describes it's capable of something although you still don't know if the implementation of clojure is complete.

Btw, this was weird:

<img width="336" alt="Screenshot 202

[2020-06-02 09:39] bbatsov commented on #181
Yeah, maybe we should have a separate key about the language, as with ClojureScript you can have both a Java runtime and a self-hosted JavaScript runtime and you need to be able to differentiate between the two. On the other hand from what I gather some servers like Ogion can handled two languages (Lua and Fennel), even if the server is implemented in Lua and obviously Lua is the actual runtime (a

[2020-06-02 09:46] bbatsov commented on #181
The problem is that many clients patch some missing capabilities by evaluating code and they need to know what exactly to evaluate. If we remove the evaluations from the equation we don't really care about the runtime. If we need to auto-detect a connection type some extra info would be useful as well. But now I'm wondering if I'm not approaching this from the wrong angle. :-)

Yeah, this might wo

[2020-06-02 09:52] borkdude commented on #181
Start with a clear problem statement. That might be the missing thing in this issue. Then explore alternatives. Then choose one minimal solution that could be extended later if necessary.

The problem might be that CIDER is missing information about the nREPL server. It could try `resolve`, but `resolve` might not even work. Is that a problem? If the nREPL server sends back an exeption on `resolve

[2020-06-02 10:00] borkdude commented on #181
Maybe good to take a step back. Start with a clear problem statement. Then explore alternative solutions. Then choose one minimal solution that could be extended later if necessary.

To restate the problem: CIDER (or other editor) is missing information about the nREPL server. It could try `resolve` to gain this information, but `resolve` might not even work. Is that a problem? If the nREPL server

[2020-06-02 18:28] bbatsov commented on #181
1) The target language gets set manually in clients (e.g. on connect)
2) Clients restrain themselves from implementing any functionality in terms of `eval` and just rely on nREPL ops for everything

Probably there are other options, but those two are the obvious ones.

[2020-06-02 18:35] borkdude commented on #181
Can you elaborate on 2? Not sure what you mean with that.

[2020-06-02 18:46] bbatsov commented on #181
E.g. you want to provide code completion by just evaluating code in some code completion library (as opposed to a dedicated op) - that's how Leiningen currently provides code completion in its REPL. That's a common approach many people take, as it's the simplest thing to do in many cases and it's the main issue when it comes to clients portability.

[2020-06-03 08:01] bbatsov commented on #181
Btw, there's one more nuance we have to keep in mind - how do you probe for capabilities that are not actually ops (e.g. the `print` middleware doesn't expose any ops, as it just modifies requests and responses). We can have them somewhere in `describe` I guess,  e.g. under some `capabilities` key or something.

[2020-06-12 09:22] bbatsov commented on #181
Seems the conversation here got stalled, so I won't change anything for time being. @borkdude can just add this to babashka.nrepl:

[code]

So I can teach CIDER about it. I played a bit with babashka and CIDER today and all the nil versions and warnings on startup are something I'd like to fix.

[2020-06-12 09:23] borkdude commented on #181
Will do!

[2020-06-12 16:21] technomancy commented on #181
For the record I'm 100% in favor of this; at the very least implementing functionality using `eval` should be considered a measure of last resort that you fall back to only once you determine that the op you need is not present.

[2020-06-17 09:20] bbatsov opened #196 "Improve handling of boolean values in responses"
After some recent improvements to the encoding logic now an error is rightfully signalled when a response contains a boolean value. (sidenote - I wonder what was happening with them in the past, as I doubt we managed to filter them out everywhere).

I've been wondering what to do about booleans in general:

a) nothing - leave it to middleware authors to sanitize the responses
b) convert them to st

[2020-06-19 14:52] shen-tian commented on #196
It feels like this is related to the question of "what is the nREPL protocol?" that has come up a few times recently. In that context:

- Does the protocol contain a boolean type?
- If so, how is it encoded in bencode?

Right now, I'd say the answer is "No" and "n/a", but worth questioning.

Previously, I think it just crashed the bencode transport, and some times silently.

[2020-06-19 14:53] bbatsov opened #198 "Add see-also info to lookup responses"
Mostly a note to myself, but anyone's welcome to tackle this.

* If there's `:see-also` in the metadata we should just return it
* If not - we should check for other vars in the namespace of the var in question that have similar names (e.g. if we're looking at `map` we can find anything containing `map` or whatever)

[2020-06-21 19:26] eerohele opened #200 "nrepl.core-test/sideloader-test fails sporadically"
See e.g. [job 2250](https://app.circleci.com/pipelines/github/nrepl/nrepl/155/workflows/d374a9ce-d5f1-4147-8b2b-cf0de0dfc1b9/jobs/2250/steps).

[2020-06-21 19:46] eerohele opened #201 "Completion candidate list can contain duplicate values"
## Expected behavior

Completion candidate list doesn't contain duplicate values.

## Actual behavior

Completion candidate list contains duplicate values.

## Steps to reproduce the problem

[code]

## Environment & Version information

### Clojure version

1.10.0

### Java version

11

### Operating system

macOS

---

The easiest solution would be to `dedupe` the current return value of `nrepl.

[2020-06-21 19:51] bbatsov commented on #201
Hmm, I recall I had seen this a while ago and supposedly I had added some uniqueness check somewhere. The Java completion code is currently just a copy of the legacy clojure-complete Java completion (minus 2-3 bugs) and I didn't try much to understand/improve it.

Sets become just regular bencode dictionaries in the end. Still, it seems to me that we should actually find out what's causing those d

[2020-06-22 17:15] eerohele commented on #201
It looks like `ns-java-methods` calls `distinct`, so that might be it.

I think the issue is simply that `static-members` currently returns every overload of every static method (as with `String/valueOf`). Simply adding a `distinct` call (as with `ns-java-methods`) would probably be the simplest fix.

[2020-06-29 19:05] #201 closed

[2020-06-30 09:47] bbatsov commented on #196
Yeah, probably you're right. Explicit certainly beats implicit. :-)

Currently it doesn't.

N/A

Seems we're like-minded here. :-)

That's not a big deal, but I guess I'll have to at least write some notes about client/extension authors - e.g. use strings instead of booleans if you really need them or something along those lines.

[2020-06-30 14:00] behrica opened #203 "List of middleware requires a "," between them, space is failing"
It took me quite some hours to figure out, that the comma between the list of  middlewares is **required**,
and it does not work with a **space**.

This works in a deps.edn file

[code]

while this fails:
[code]

I would have expected that the list of middlewares follow the normal clojure syntax, in which komma is considered whitespace.

The "error" in this case is as well not helpfull:

[code]

[2020-06-30 14:05] bbatsov commented on #203
Hmm, that's weird. I guess it's going to be easy to fix that.

[2020-06-30 17:37] SevereOverfl0w commented on #203
This is how deps.edn works, not a nrepl bug

[2020-07-01 09:37] shen-tian commented on #196
I'd like to have a go at writing the core nREPL specification at some stage. Just a bit snowed under right now.

[2020-07-02 07:50] behrica commented on #203
Maybe just a question of documentation. I got "confused" by this line of the docu:

-m/--middleware MIDDLEWARE  A sequence of vars, representing middleware you wish to mix in to the nREPL handler.

**sequence of vars**   made me think that **valid clojure syntax for a sequence** is the right format for it, which would allow space or comma

[2020-07-02 13:08] behrica commented on #203
I found a bug report about the same:

https://ask.clojure.org/index.php/9034/clj-m-works-from-shell-but-not-as-alias

and it was further discussed on clojure.core  : https://clojure.atlassian.net/browse/TDEPS-56

I would therefore accept it as is here.

But maybe you could add / change the docu and have an example with two middlewares in a deps.edn.

I seems to be only an issue, if alias are used,

[2020-07-02 19:59] SevereOverfl0w commented on #203
The help text is correct. Deps can't handle spaces.

[2020-07-07 05:17] bbatsov commented on #200
@shen-tian Can you take a look into this?

[2020-08-03 22:10] liquidz opened #206 "Syntax error occured with nREPL 0.8.0 and cider-nrepl on Java8"
Moved from https://github.com/clojure-emacs/orchard/issues/98

These changes may be the cause.
https://github.com/nrepl/nrepl/commit/c3ec4c6#diff-1b9ca3ef5a3a453d96b5f6c1b8c778a5L73-L138

@shen-tian Do you have a time to confirm?

## Expected behavior

`lein repl` will launch.

## Actual behavior

[code]

Full error messages are here
https://gist.github.com/liquidz/6c2da4394b3a238947ad493c604e0d7a

[2020-08-04 08:00] shen-tian commented on #206
Hey. Will have a go at reproducing..

[2020-08-05 13:09] shen-tian commented on #206
I've had a look at the issue. Can reproduce, as described, and the problem is most likely introduced in the commit you linked to.

As to why, I think it's failing to load `com.sun.javadoc.ClassDoc`, which is in `tools.jar` in Java 8, based on the discussion [here](https://github.com/clojure-emacs/orchard/issues/50). My guess is that `clojure.lang.Compiler/LOADER` had access to it, but the contextu

[2020-08-05 20:32] liquidz commented on #206
Thanks for your confirmation!

[2020-08-14 07:11] shen-tian commented on #206
It looks like this is a bit of a clash between

- how orchard adds `tools.jar` onto the classpath, using some heuristics and adding it using dynapath...
- and how we fixed #113, which has to do with supporting how Pomegranate modified the classpath, which is by ensuring `clojure.lang.Compiler/LOADER` shared a common ancestor as the Contextual ClassLoader.

No immediate solutions comes to mind, I'm

[2020-08-14 07:18] bbatsov commented on #206
One idea that comes to mind is to drop the usage of dynapath in Orchard. If we can replace this with another approach that'd be ideal IMO, as there's also https://github.com/clojure-emacs/orchard/issues/20 Alternatively we can have either nREPL add `tools.jar` to the classpath or have clients do this explicitly. Not sure about the best approach, as I'm far from an expert in dynamic classloaders. M

[2020-08-17 11:56] jwr commented on #206
Just to confirm, I ran into the same problem while updating dependencies in a large project. Switching from nrepl 0.7.0 to 0.8.0 caused the problem to appear.

I'm switching back to 0.7.0 for now.

[2020-08-18 06:17] eerohele opened #207 ":arglists in lookup op response map cannot always be serialized into Bencode"
## Steps to reproduce the problem

[code]

Throws NPE:

[code]

## Environment & Version information

### Clojure version

1.10.1

### Java version

11

### Operating system

macOS

I can look into fixing the issue if I get the chance. Just wanted to file the issue so that I don't forget.

[2020-08-18 09:24] SevereOverfl0w commented on #207
bencode cannot represent non-string keys in maps: https://en.wikipedia.org/wiki/Bencode

[2020-08-18 09:27] eerohele commented on #207
Ah. Well, that's a bummer. The place where I noticed this is the `lookup` op, which fails if the `:arglists` key has a value that has a collection as a key.

I guess one option would be to drop the `:arglists` key and only retain `:arglists-str`? That would be a breaking change at this point, though.

[2020-08-18 09:32] bbatsov commented on #207
It's an experimental feature, so it's not really a breaking change. That being said another approach might be to remove this key depending on the structure of the arglists or to convert it to string automatically when it can't be encoded.

[2020-08-18 09:40] eerohele commented on #207
All right. FWIW, I only use `:arglists-str` myself.

An arglist of a function that makes heavy use of destructuring might be quite complex. It would certainly be doable, but it might also incur a performance cost. Probably not a large one, but still. Not sure the gains are large enough to warrant the additional complexity.

As a consumer, I would prefer it if the return value of the op were predic

[2020-08-18 11:32] bbatsov commented on #207
Yeah, that's a good point. I've been using `:arglists-str` only as well in CIDER. Probably it's best to make both keys the same and add some notes explaining how this happened.

[2020-08-27 14:55] konstlepa opened #208 "Qualified keywords are always in user namespace"
Hello,

I have a problem with qualified keywords in nrepl. All qualified keywords resolve as **:user/\<keyword\>** . There is no such problem in other repls (I checked clj repl, org.clojure/tools.nrepl, REPL-y and so on).

## Expected behavior
[code]

## Actual behavior
[code]

## Environment & Version information

### Clojure version

1.10.1.561

### Java version

openjdk version "11.0.8" 2020-07

[2020-08-29 05:29] ahwatts opened #209 "Error starting repl with Boot in Windows"
Starting a REPL with `boot repl` using `nREPL` 0.8 throws a `NullPointerException` on startup, though it doesn't crash the process entirely. The process appears to be unusable, however.

This looks like it's the same as https://github.com/clojure-emacs/cider/issues/2893 , but I'm filing it here because I can reproduce it without CIDER involved at all.

This works fine if I set the `nREPL` dependen

[2020-08-31 08:56] shen-tian commented on #209
Thank @ahwatts. Let me dig up a Windows machine and have a look this week.

[2020-09-03 08:25] #206 closed

[2020-09-03 09:17] shen-tian commented on #113
Not sure if we want to re-open this, but changes in #210 means this is probably not working under Java 8 anymore.

[2020-09-04 19:52] gsuzor91 commented on #209
[clojure-emacs/cider#2893](https://github.com/clojure-emacs/cider/issues/2893) was closed stating that `nrepl 0.8.1` corrected it. As @ahwatts previously mentioned, `cider#2893` looks to be the same as this issue, but reproduced here with the simpler `boot -d nrepl:0.8.0 repl`.

However, if I try `boot -d nrepl:0.8.1` I still get a `NullPointerExcepion` as originally reported above.
`Windows 10 Pr

[2020-09-05 05:30] bbatsov commented on #209
I guess I was too optimistic in my assumption then. I'll reopen the CIDER ticket.

[2020-09-16 04:57] eerohele commented on #207
Fixed via #211.

[2020-09-16 04:57] #207 closed

[2020-09-16 05:05] bbatsov commented on #208
That's some bug in the cmdline interface, as it works fine with REPL-y or CIDER. Probably it's an easy fix. @shen-tian any ideas what might be causing this? I assume we're not tracking the properly the ns somewhere.

[2020-09-18 14:22] shen-tian commented on #208
My guess is that it's a built-in client issue?

Also, just to point out, the "Expected behavior" command doesn't actually use nREPL.

[2020-09-22 05:29] bbatsov commented on #208
Great point! I had even forgotten there used to be a `main` there. :-)

[2020-09-23 11:39] #203 closed

[2020-10-22 17:42] eerohele commented on #200
Hopefully fixed via #213.

[2020-10-22 17:42] #200 closed

[2020-10-23 04:58] eerohele opened #215 "Eval op with unknown ns yields two "done" responses"
## Steps to reproduce the problem

1. Send `{"id": 1, "op": "eval", "code": "(inc 1)", "ns": "unknown.ns", "session": "1d54c31a-f4bb-4700-9618-1296b343e3b9"}`.

The nREPL server returns:

[code]

[Looking](https://github.com/nrepl/nrepl/blob/255d8420ec0c14397f29b906e1ce7cefd544a274/src/clojure/nrepl/middleware/interruptible_eval.clj#L75-L76) at the [code](https://github.com/nrepl/nrepl/blob/255d84

[2020-10-25 09:32] bbatsov commented on #215
Yeah, I totally agree.

I'm assuming the bug you discovered is a result of the introduction of streamed value responses, as originally the `done` on successful `eval` was part of the only `value` response you'd get back then.

[2020-10-25 09:38] bbatsov commented on #215
Looking at the code it seems that just removing the `:done` from the error message would be enough, but I don't like that this will break the common pattern of buckling the done status with whatever error status there is (if any).

[2020-10-25 09:45] eerohele commented on #215
Yeah. The issue this bug causes in my client is purely cosmetic: currently, in my client, `done` causes a newline to get printed. This bug just yields two newlines instead of one.

I had a quick look at the code earlier, and I agree: that would be the simplest way to fix the issue, but might not be the best. Not sure how much work the alternative solution would involve.

[2020-11-05 02:04] lucywang000 opened #216 "Over 100% CPU for clojure JVM processes after waking up"
Whenever I wake up my computer from a long (3h+) sleep, the cpu usage for all clojure java processes (either launched by lein or shadow-cljs) would skyrocket for a while, but they would cool down after half a minute. The longer the sleep, the longer it takes for the cpu usage to cool down.

So I use VisualVM to get some profiling data, and it seems it’s related to nrepl:

<img width="1095" alt="Sc

[2020-12-02 06:51] shen-tian commented on #216
Does this happen consistently, for all processes created by lein and shadow? It will be hard to pin down without reproduction steps.

To reason through this a bit:

- the inner `bencode/read-byte` is called once for each token read, to see the type of the next token. **if** this is called a lot of times, it suggests a lot of messages, or messages containing many tokens.
- the behaviour where longe

[2020-12-03 01:48] lucywang000 commented on #216
Yeah it happens consistently, for all clojure repl processes (lein or shadow).

Thanks for the debug tip, I'll try that.

[2020-12-15 17:45] metametadata opened #219 "1 minute delay on exit"
## Expected behavior

There's no delay on exit.

## Actual behavior

App waits for 1 minute before exiting.

## Steps to reproduce the problem

Require `nrepl.server` ns and exit the app. Example for version `0.8.0`:

[code]

## Other

The issue is not reproducible in `0.7.0`:
[code]

## Environment & Version information

### Clojure version

1.10.1

### Java version

11.0.9

### Operating system

[2020-12-23 02:59] pangloss opened #221 "Respect nrepl.edn and ~/.nrepl/nrepl.edn when programmatically starting nrepl server"
Hi, I've spent a few hours trying to get the nrepl server to auto-configure correctly based on nrepl.edn files (either local or global) when I'm starting a repl programmatically, but it doesn't seem to work. I imagine there's probably some way to do that but I couldn't find either documentation or any example for doing this.

I'd like to just run something like the following:
[code]

But instead I

[2020-12-31 08:43] bbatsov commented on #221
I didn't want to the configuration to get coupled with the server code, that's why it doesn't have any direct integration points with it. The assumption was that each tool that uses nREPL (e.g. Lein) will take care of this however they see fit (with the help of the `nrepl.confgi` ns).

I understand this might not always be ideal, so perhaps we can improve it somehow.

[2020-12-31 20:43] pangloss commented on #221
Maybe the resolve-middleware function above could be part of nrepl?  I think that would preserve the current decoupling, and even if I have to write the start_repl! function (as above) myself, it'd be an improvement.

Additionally, if the load-config function could be made public, it'd be useful, but ultimately that's less important.

[2021-01-04 10:55] bbatsov opened #223 "Run CI on OpenJDK 15"
Mostly a matter of figuring out what image to use for the build as it seems there's no `openjdk-15-lein-2.9.1`.

[2021-01-05 17:11] sudorock commented on #223
There is `clojure:openjdk-15-lein-2.9.5`, is lein required to be `2.9.1`?

[2021-01-05 18:50] bbatsov commented on #223
Nope, newer is better.

[2021-01-20 13:27] mvarela opened #228 "cider-pprint-eval* functions not pretty printing."
Use the template below when reporting bugs. Please, make sure that
you're running the latest stable release or the latest snapshot of
nREPL and that the problem you're reporting hasn't been
reported (and potentially fixed) already.

## Expected behavior

When using the `cider-pprint-eval*` family of functions, large values (e.g,. maps and vectors) should be pretty-printed to the
desired destinatio

[2021-01-21 09:42] mvarela commented on #228
Sorry, wrong repo!

[2021-01-21 09:42] #228 closed

[2021-01-28 07:53] PEZ commented on #119
If this is fixed some day, I want to request that these messages are made special in some way. That way the nREPL client can choose to relay them in some special way. Some servers are quite chatty and the user might not always want this output appear the same way as stdout from immediately evaluated expressions do.

[2021-01-28 08:11] bbatsov commented on #119
It's hard for the server to tell apart the different output messages. I was thinking back in the day that maybe they can be processed differently by clients based on regular expressions, or something along those lines, but I recall I hit a wall when working in that direction in CIDER.

[2021-02-17 09:44] eerohele opened #230 "Completion op should return namespace-not-found when appropriate"
Given a client that sends an op like this:

[code]

If the nREPL server doesn't know `my.unknown.ns`, it returns:

[code]

It would be useful if the server returned something like this instead:

[code]

That way, clients could e.g. evaluate the `ns` form in the current view and then retry the completion op.

Currently, clients have no way of distinguishing missing namespace errors from other types

[2021-02-17 09:45] eerohele opened #231 "nrepl.misc/sanitize-meta throws when file meta is a java.net.URL"
HugSQL, for example, creates symbols whose `:file` meta is a `java.net.URL` instance, which `nrepl.misc/sanitize-meta` can't handle.

[2021-02-17 09:50] bbatsov commented on #230
Yeah, that's a good point and would be easy to fix this. I'm guessing something like:

[code]

would be even better. The status is a set and we can have as many statuses as we want there.

[2021-02-17 09:51] bbatsov commented on #231
I guess we should convert URLs to strings.

[2021-02-17 09:52] bbatsov commented on #223
That's already solved.

[2021-02-17 09:52] #223 closed

[2021-02-19 19:19] eerohele commented on #230
Same thing for the lookup op.

[2021-03-01 08:05] bbatsov opened #232 "Add clj-kondo to the CI"
It will be a great addition to the lint checks we're already doing via Eastwood nad cljfmt.

[2021-03-12 07:56] bbatsov commented on #232
Fixed by #235.

[2021-03-12 07:56] #232 closed

[2021-03-15 19:44] #231 closed

[2021-04-18 15:43] jqmtor commented on #208
I replicated this issue in a test [here](https://github.com/nrepl/nrepl/compare/master...jqmtor:208/client/fix-auto-resolved-keywords?expand=1) and, curiously, it seems like the client is doing the right thing?

I followed on your suspicion that the client does not keep track of the namespace properly, but that seems to be correct.

I also wondered whether the issue could be with the keyword being

[2021-06-04 11:59] NickeZ commented on #182
I think I ran into the same issue, got here via google, is this the same issue and are there any workarounds?

backtrace:

[code]

[2021-07-11 04:56] mikemar10 commented on #208
I took some time to dig into this issue and it appears to have been due to the way the namespaces were being kept in sync between `nrepl.cmdline/run-repl` and the nrepl server. This was being handled by tracking namespace changes in an atom client side, but this causes namespace resolution to always resolve to the `user` namespace on the client side since the client side namespace isn't actually c

[2021-07-29 05:14] #208 closed

[2021-07-29 05:31] bbatsov commented on #230
Fixed in #238.

[2021-07-29 05:31] #230 closed

[2021-07-29 05:32] bbatsov commented on #219
Is this still slow with the latest beta?

[2021-07-29 10:47] metametadata commented on #219
Yes.

[code]

[2021-08-13 05:43] pangloss commented on #221
I'm thinking that this issue should probably just be closed?

[2021-08-13 08:17] bbatsov commented on #221
I was planning to respond to your previous comment, but I totally forgot about this. Will think more on the subject when I'm back from my summer vacation.

[2021-08-18 08:09] bbatsov commented on #219
Hmm, I can't put my finger on which particular change in 0.8 caused this regression. We might have to bisect the code to figure this out, or profile that `require`, as I assume it's triggering something that takes a while now.

@shen-tian any ideas what might be causing this?

[2021-08-20 08:45] shen-tian commented on #219
Sorry I've been awol. I just had a look through changelog, and nothing jumps out at me. The exactly 1 minute part is also curious. The only thing close I can think of is https://github.com/nrepl/nrepl/pull/163 <- but that's before 0.8.

[2021-08-20 11:13] metametadata commented on #219
1 minute delay looks like a problem related to agent pool.  Maybe `future`, `pmap` or `agent-send` were added after v0.7.0. See https://clojure.atlassian.net/browse/CLJ-124.

If it's true and nREPL cannot be fixed then all the consumers may need to add `shutdown-agents` calls as recommended in https://clojure.org/guides/faq#agent_shutdown:

The discussion about a similar problem in `clojure.java.s

[2021-08-20 12:54] bbatsov opened #242 "Weird CI failures"
Seems the tests are taking too long from time to time are getting killed:

![image](https://user-images.githubusercontent.com/103882/130236195-7cdda4d4-36b7-46c7-9834-17e269cb3b88.png)

@vemv Any ideas if we can tweak the CI setup to avoid this?

[2021-08-20 13:03] vemv commented on #242
Quick assessment - in the latest build I can see three kinds of failures:

* NPE https://app.circleci.com/pipelines/github/nrepl/nrepl/293/workflows/516a13d0-8f02-4ca9-a98f-3e1f22b94eba/jobs/4653
* Timeout https://app.circleci.com/pipelines/github/nrepl/nrepl/293/workflows/516a13d0-8f02-4ca9-a98f-3e1f22b94eba/jobs/4655
* `java.lang.IllegalStateException` https://app.circleci.com/pipelines/github/n

[2021-08-20 15:42] bbatsov commented on #242
Hmm, I guess the plot thickens. I don't think that any of those failures could have been introduced by recent changes, so we're likely dealing with some flaky tests. Fun times. :-)

[2021-09-08 14:19] athos opened #245 "ClassCastException raised when connecting to nREPL server via nrepl+unix"
I'm messing with nrepl/nrepl 0.9.0-beta2 to [make my nREPL client support the new `nrepl+unix` connection](https://github.com/athos/trenchman/pull/8).

When starting up an nREPL server on JVM 16 with the following command:

[code]

And then connecting to it via `nrepl+unix`, I found the server raised an error like the following:

[code]

On the other hand, if I start up the server with `junixsocke

[2021-09-14 07:36] bbatsov commented on #245
@rlbdv Can you look into this?

[2021-09-14 07:39] bbatsov opened #247 "nREPL 0.9"
I'm starting a meta ticket tracking what we need to do to cut nREPL 0.9. So far I've identified the following:

- [x] #245
- [ ] #246

Probably I should also add a milestone for those.

[2021-09-15 03:06] rlbdv commented on #245
Bozhidar Batsov ***@***.***> writes:

Certainly - though it might not be until later this week(end).

[2021-09-15 06:45] bbatsov commented on #245
No rush.

[2021-09-19 22:47] devurandom commented on #85
I am trying to debug an issue where internal messages sent from Cursive (i.e. not sent by the user) are printed in the Cursive REPL, instead of hidden. Colin Fleming suspects the response message might have a matching ID anymore, but to confirm that, we would need logs of the nREPL messages that are actually sent over the wire. Is there already a solution for this in nREPL?

[2021-09-20 05:03] bbatsov commented on #85
@devurandom Nope, we never managed to sort out message logging on the server-side. There was some work done in https://github.com/nrepl/nrepl/pull/87, but it was not completed.

[2021-09-21 12:16] devurandom commented on #85
@plexus just created https://github.com/lambdaisland/nrepl-proxy as a debugging tool for nREPL connections! :heart: :tada:

[2021-09-21 12:29] plexus commented on #85
Yup, something I've wanted for a long time. I decided to do it as a proxy to prevent middleware ordering issues. This way you're sure you get the messages as they go over the wire. It's also nice that you can just pipe this to a file and share it with developers.

I have some ideas of where to take this, for now it's pretty basic. I mainly wanted to sort out the network part, the rest should be st

[2021-09-21 13:58] bbatsov commented on #85
Cool idea!

[2021-10-29 06:48] vemv opened #251 "Ability to control the sideloader middleware under a system property"
## Context

Sideloaders/classloading makes me nervous, it's kind of an open/mutating problem with a long history of associated bugs.

End users should be able to quickly disable it in order to bisect issues, which appear to keep popping up (from what I informally see over GH/Slack; can't be sure if that's the exact diagnostic).

We took a similar decision with Orchard (dynapath will be entirely re

[2021-10-29 07:05] #251 closed, assigned to nobody

[2021-10-29 07:49] bbatsov opened #253 "Change groupid to org.nrepl"
At some point we'll need to change the groupid to `org.nrepl` to comply with the new Clojar rules on naming artifacts and to be consistent across all projects (we can't create new projects under `nrepl` anymore).

I've noticed several relevant convos on the subject:

- https://github.com/clojars/clojars-web/issues/801
- https://github.com/lambdaisland/open-source/issues/2

[2021-10-30 23:41] rlbdv commented on #245
Bozhidar Batsov ***@***.***> writes:

Starting to look...

[2021-10-31 06:49] bbatsov commented on #245
Thanks!

[2021-11-07 20:47] rlbdv commented on #245
Just noticed something else is different with jdk 16 support, i.e. this, which has worked and does work fine with junixsocket (at least) just hangs with jdk16: `echo 'd4:code7:(+ 2 2)2:op4:evale' | nc -U nreplsock` when connecting to
[code]
Don't know if the issues are related, but I'm finally investigating.

[2021-11-07 20:49] rlbdv commented on #245
@athos how were you connecting when you saw the initial crash?

[2021-11-07 20:51] rlbdv commented on #245
(I did see your detailed description of the underlying issue, and am looking in to it, but also wanted to see how you were producing the error.)

[2021-11-07 20:54] rlbdv commented on #245
Oh, you were probably using your client.

[2021-11-07 21:03] rlbdv commented on #245
OK, mystery partially solved - it looks like the two things are related.  Removing that incorrect type annotation allows the `echo ... | nc ...` to work fine.  Presumably the same exception was being thrown, but (no idea why yet) not being shown by `lein run ...` or `lein trampoline run ...`.

In any case, I'll try to come up with a fix for the types, assuming we still have to have that annotation

[2021-11-07 21:09] bbatsov commented on #245
I guess we can just remove this annotation if its hard to find a solution with it (or another annotation) in place. For me it's way more important for the code to work properly than to avoid some reflection warning.

[2021-11-07 21:39] rlbdv commented on #245
I think I may have a clean fix, and I'm wondering if I might have meant to do this in the first place and wandered off (cf. `socket/Writable`).  May have a pr soon, though I'm hitting an eastwood error in session.clj on the current branch.